.main-test { padding: 0 0 146px; margin-top: -2px; }
.main-test .bubble { margin-right: 125px; }

.bubble { float: right; width: 70px; height: 70px; color: #7a5c15; font-size: 30px; line-height: 70px; text-align: center; text-shadow: 1px 1px 2px rgba(255, 237, 2, 0.6); border: 4px solid #ffed03; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background-color: #67b13d; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSJyZ2JhKDIzMiwgMjUyLCA2MiwgMC42KSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiYSg5NCwgMTYxLCAxOSwgMC4xKSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, rgba(232, 252, 62, 0.6)), color-stop(100%, rgba(94, 161, 19, 0.1))); background-image: -webkit-radial-gradient(center center, 90px 90px, rgba(232, 252, 62, 0.6) 0%, rgba(94, 161, 19, 0.1) 100%); background-image: -moz-radial-gradient(center center, 90px 90px, rgba(232, 252, 62, 0.6) 0%, rgba(94, 161, 19, 0.1) 100%); background-image: -o-radial-gradient(center center, 90px 90px, rgba(232, 252, 62, 0.6) 0%, rgba(94, 161, 19, 0.1) 100%); background-image: -ms-radial-gradient(center center, 90px 90px, rgba(232, 252, 62, 0.6) 0%, rgba(94, 161, 19, 0.1) 100%); background-image: radial-gradient(center center, 90px 90px, rgba(232, 252, 62, 0.6) 0%, rgba(94, 161, 19, 0.1) 100%); }
.bubble.inactive { border: 4px solid #b4c2ac; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuNzEpIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSJyZ2JhKDIxNiwgMjE2LCAyMTYsIDAuNzEpIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, rgba(255, 255, 255, 0.71)), color-stop(100%, rgba(216, 216, 216, 0.71))); background-image: -webkit-radial-gradient(center center, 117px 117px, rgba(255, 255, 255, 0.71) 0%, rgba(216, 216, 216, 0.71) 100%); background-image: -moz-radial-gradient(center center, 117px 117px, rgba(255, 255, 255, 0.71) 0%, rgba(216, 216, 216, 0.71) 100%); background-image: -o-radial-gradient(center center, 117px 117px, rgba(255, 255, 255, 0.71) 0%, rgba(216, 216, 216, 0.71) 100%); background-image: -ms-radial-gradient(center center, 117px 117px, rgba(255, 255, 255, 0.71) 0%, rgba(216, 216, 216, 0.71) 100%); background-image: radial-gradient(center center, 117px 117px, rgba(255, 255, 255, 0.71) 0%, rgba(216, 216, 216, 0.71) 100%); }

.scroll { clear: both; }

.scroll__nav { text-align: center; margin-bottom: 10px; }
.scroll__nav button { margin-right: 12px; width: 20px; height: 20px; border: 0; background: #029647; color: #9dd891; font: normal 16px Verdana,sans-serif; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.scroll__nav button:first-child { margin-left: -58px; }
.scroll__nav .is-active { color: #654d12; font-weight: bold; -webkit-box-shadow: 0 0 0 2px #ffed03; -moz-box-shadow: 0 0 0 2px #ffed03; box-shadow: 0 0 0 2px #ffed03; background-color: #67b13d; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMmRhMzQxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNmViYjMxIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #2da341), color-stop(100%, #6ebb31)); background-image: -webkit-radial-gradient(#2da341, #6ebb31); background-image: -moz-radial-gradient(#2da341, #6ebb31); background-image: -o-radial-gradient(#2da341, #6ebb31); background-image: -ms-radial-gradient(#2da341, #6ebb31); background-image: radial-gradient(#2da341, #6ebb31); }

.scroll__title { display: block; margin-bottom: 26px; color: #feed03; font-weight: normal; font-style: normal; font-family: 'pragmaticalightcbold'; font-size: 36px; text-align: center; }

.scroll__main { position: relative; height: 480px; overflow: hidden; }

.scroll__wrap { position: absolute; left: 0; top: 0; height: 480px; width: 2000em; overflow: hidden; }
.scroll__wrap p { line-height: 26px; margin-left: 8px; }
.scroll__wrap .is-active i { position: absolute; bottom: 0; right: -7px; background: url('../img/icons-seb956d0c73.png') 0 -838px no-repeat; width: 71px; height: 73px; }

.scroll__slide { float: left; }

.scroll__item { float: left; margin-right: 30px; width: 300px; opacity: .7; color: #bdd6a1; font-size: 24px; cursor: pointer; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
.scroll__item:hover { color: #fff; opacity: 1; }

.scroll__img { position: relative; margin-bottom: 25px; width: 253px; height: 265px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.scroll__img img { max-width: 253px; min-height: 265px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.title-l-1, .title-l-2 { font-weight: normal; font-style: normal; font-family: 'pragmaticalightcregular'; color: #fefdcc; font-size: 43px; }
.title-l-1 strong, .title-l-2 strong { font-weight: normal; font-style: normal; font-family: 'pragmaticalightcbold'; text-transform: capitalize; }

.title-l-2 { font-size: 30px; margin: 50px 0 20px; }

.new-prod { margin: -5px 0 -25px; }

.new-prod__img { position: relative; float: left; height: 270px; line-height: 270px; width: 332px; margin-right: 136px; text-align: center; }
.new-prod__img:before { content: ""; position: absolute; left: -122px; top: -120px; width: 545px; height: 545px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNjgiPjxzdG9wIG9mZnNldD0iMTglIiBzdG9wLWNvbG9yPSJyZ2JhKDI0NywgMjM0LCAyLCAwLjQpIi8+PHN0b3Agb2Zmc2V0PSI2OCUiIHN0b3AtY29sb3I9InJnYmEoMjQ3LCAyMzQsIDIsIDApIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 68, color-stop(18%, rgba(247, 234, 2, 0.4)), color-stop(68%, rgba(247, 234, 2, 0))); background-image: -webkit-radial-gradient(rgba(247, 234, 2, 0.4) 18%, rgba(247, 234, 2, 0) 68%); background-image: -moz-radial-gradient(rgba(247, 234, 2, 0.4) 18%, rgba(247, 234, 2, 0) 68%); background-image: -o-radial-gradient(rgba(247, 234, 2, 0.4) 18%, rgba(247, 234, 2, 0) 68%); background-image: -ms-radial-gradient(rgba(247, 234, 2, 0.4) 18%, rgba(247, 234, 2, 0) 68%); background-image: radial-gradient(rgba(247, 234, 2, 0.4) 18%, rgba(247, 234, 2, 0) 68%); }
.new-prod__img img { position: relative; z-index: 2; margin-top: 10px; display: inline-block; vertical-align: middle; }

.new-prod__info { overflow: hidden; font-size: 18px; padding-top: 30px; font-weight: normal; font-style: normal; font-family: 'pragmaticalightcregular'; }
.new-prod__info strong { font-weight: normal; font-style: normal; font-family: 'pragmaticalightcbold'; }
.new-prod__info ul { margin-top: 33px; }
.new-prod__info li { margin-bottom: -3px; }

.new-prod__title { margin-bottom: 4px; color: #feed03; font-size: 27px; font-weight: normal; }

.scroll-tabs { position: relative; z-index: 2; margin-bottom: 31px; }
.scroll-tabs li { position: relative; display: inline-block; margin-right: -4px; padding: 15px 22px; font-size: 14px; font-family: Verdana, sans-serif; text-align: center; color: #fefdcc; cursor: pointer; text-align: center; background: #005e23; vertical-align: top; border-left: 1px solid #06863d; border-bottom: 1px solid #06863d; -webkit-box-shadow: inset 1px 0 0 #014918, 0 1px 0 #014918; -moz-box-shadow: inset 1px 0 0 #014918, 0 1px 0 #014918; box-shadow: inset 1px 0 0 #014918, 0 1px 0 #014918; }
.scroll-tabs li:first-child { border-left: 0; -webkit-box-shadow: 0 1px 0 #014918; -moz-box-shadow: 0 1px 0 #014918; box-shadow: 0 1px 0 #014918; -webkit-border-radius: 10px 0 0 10px; -moz-border-radius: 10px 0 0 10px; -ms-border-radius: 10px 0 0 10px; -o-border-radius: 10px 0 0 10px; border-radius: 10px 0 0 10px; padding-left: 22px !important; }
.scroll-tabs li:last-child { -webkit-border-radius: 0 10px 10px 0; -moz-border-radius: 0 10px 10px 0; -ms-border-radius: 0 10px 10px 0; -o-border-radius: 0 10px 10px 0; border-radius: 0 10px 10px 0; }
.scroll-tabs span { display: block; }
.scroll-tabs .is-active { color: #ffed03; padding-left: 23px; border-left: 0; -webkit-box-shadow: inset 2px 0 0 #014918, 0 1px 0 #014918; -moz-box-shadow: inset 2px 0 0 #014918, 0 1px 0 #014918; box-shadow: inset 2px 0 0 #014918, 0 1px 0 #014918; }
.scroll-tabs .is-active:after { content: ""; position: absolute; bottom: -17px; left: 50%; margin-left: -24px; background: url('../img/icons-seb956d0c73.png') 0 -2229px no-repeat; width: 47px; height: 18px; }

.products { padding: 46px 0 99px; }

.scroll-prod-wrap { display: none; position: relative; }

.scroll-prod { float: left; position: relative; padding-top: 17px; margin: 0 0 -40px 62px; width: 690px; height: 255px; overflow: hidden; }

.scroll-prod__main { position: absolute; width: 2000em; top: 17px; }
.scroll-prod__main .is-active { z-index: 2; }
.scroll-prod__main .is-active:before { content: ""; position: absolute; left: -68px; bottom: -48px; z-index: 3; width: 230px; height: 200px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNjgiPjxzdG9wIG9mZnNldD0iMTglIiBzdG9wLWNvbG9yPSJyZ2JhKDI0NywgMjM0LCAyLCAwLjkpIi8+PHN0b3Agb2Zmc2V0PSI2OCUiIHN0b3AtY29sb3I9InJnYmEoOTQsIDE3MSwgNDAsIDApIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 68, color-stop(18%, rgba(247, 234, 2, 0.9)), color-stop(68%, rgba(94, 171, 40, 0))); background-image: -webkit-radial-gradient(rgba(247, 234, 2, 0.9) 18%, rgba(94, 171, 40, 0) 68%); background-image: -moz-radial-gradient(rgba(247, 234, 2, 0.9) 18%, rgba(94, 171, 40, 0) 68%); background-image: -o-radial-gradient(rgba(247, 234, 2, 0.9) 18%, rgba(94, 171, 40, 0) 68%); background-image: -ms-radial-gradient(rgba(247, 234, 2, 0.9) 18%, rgba(94, 171, 40, 0) 68%); background-image: radial-gradient(rgba(247, 234, 2, 0.9) 18%, rgba(94, 171, 40, 0) 68%); }
.scroll-prod__main .is-active:after { content: ""; position: absolute; bottom: -28px; left: 50%; margin-left: -24px; background: url('../img/icons-seb956d0c73.png') 0 -2660px no-repeat; width: 49px; height: 16px; }
.scroll-prod__main .icon-new { position: absolute; top: -16px; right: -20px; z-index: 5; background: url('../img/icons-seb956d0c73.png') 0 -1255px no-repeat; width: 65px; height: 33px; }

.scroll-prod__item { position: relative; float: left; margin-right: 20px; cursor: pointer; }
.scroll-prod__item img { position: relative; z-index: 4; }

.prod-nav { position: absolute; border: 0; top: 52px; }

.prod-prev { left: 12px; background: url('../img/icons-seb956d0c73.png') 0 -3123px no-repeat; width: 25px; height: 79px; }

.prod-next { right: 177px; background: url('../img/icons-seb956d0c73.png') 0 -3212px no-repeat; width: 25px; height: 79px; }

.prod-mix { position: relative; z-index: 2; float: right; margin: 16px 20px 0 0; width: 160px; text-align: center; }
.prod-mix div { margin: 0 auto; width: 80%; }
.prod-mix a { color: #9ecb3a; font-size: 14px; font-family: Verdana,sans-serif; }

.scroll-message { clear: both; position: relative; padding: 20px 65px 29px 38px; background: #00732c; border: 2px solid #26ba00; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; color: #fefdcc; font-size: 18px; font-family: Verdana,sans-serif; line-height: 1.2; }
.scroll-message ul { float: right; width: 45%; }

.scroll-message__info { float: left; width: 50%; }

.content-outer { padding-bottom: 82px; position: relative; background: #fff; }

.line-4 { position: absolute; left: 0; top: -46px; right: 0; width: 100%; height: 46px; background: url(../img/line4.png) 50% 0 repeat-x; }

.content { overflow: hidden; margin: 0 auto; padding-top: 10px; width: 980px; color: #003d20; font: normal 14px Verdana,sans-serif; }
.content h1 { margin: 32px 0 10px; font-size: 36px; font-weight: normal; font-style: normal; font-family: 'pragmaticalightcregular'; }
.content h2 { margin: 20px 0 15px; color: #037a39; font-size: 18px; }
.content p { margin-bottom: 7px; }
.content ul { margin-bottom: 7px; padding-left: 10px; }
.content li { position: relative; }
.content li:before { position: absolute; top: 0; left: -10px; content: "-"; }
.content img { margin: 30px 0; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; -webkit-box-shadow: 0 2px 3px rgba(0, 61, 32, 0.3); -moz-box-shadow: 0 2px 3px rgba(0, 61, 32, 0.3); box-shadow: 0 2px 3px rgba(0, 61, 32, 0.3); }

.equal__col-left { float: left; width: 50%; }

.equal__col-right { float: right; width: 48%; }

.video-scroll-wrap { position: relative; padding-bottom: 50px; }
.video-scroll-wrap .disabled { display: none; }

.video-nav { position: absolute; top: 54px; }

.video-nav_prev { left: 0; background: url('../img/icons-seb956d0c73.png') 0 -3394px no-repeat; width: 19px; height: 54px; }

.video-nav_next { right: 0; background: url('../img/icons-seb956d0c73.png') 0 -3475px no-repeat; width: 19px; height: 54px; }

.video-scroll { position: relative; margin: 0 auto; width: 862px; height: 230px; overflow: hidden; }

.video-scroll__wrap { position: absolute; top: 0; width: 2000em; }
.video-scroll__wrap .video-preview { float: left; margin-right: 25px; }

.program-section { position: relative; padding: 77px 0 3px; }

.prog-ban-img { position: relative; float: left; border: 1px solid #017237; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; }
.prog-ban-img:after { content: ""; position: absolute; left: 0; bottom: -27px; width: 100%; height: 30px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNjgiPjxzdG9wIG9mZnNldD0iMTglIiBzdG9wLWNvbG9yPSJyZ2JhKDAsIDAsIDAsIDAuMykiLz48c3RvcCBvZmZzZXQ9IjY4JSIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwKSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 68, color-stop(18%, rgba(0, 0, 0, 0.3)), color-stop(68%, rgba(0, 0, 0, 0))); background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.3) 18%, rgba(0, 0, 0, 0) 68%); background-image: -moz-radial-gradient(rgba(0, 0, 0, 0.3) 18%, rgba(0, 0, 0, 0) 68%); background-image: -o-radial-gradient(rgba(0, 0, 0, 0.3) 18%, rgba(0, 0, 0, 0) 68%); background-image: -ms-radial-gradient(rgba(0, 0, 0, 0.3) 18%, rgba(0, 0, 0, 0) 68%); background-image: radial-gradient(rgba(0, 0, 0, 0.3) 18%, rgba(0, 0, 0, 0) 68%); }
.prog-ban-img img { display: block; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.prog-ban_mod { float: right; width: 590px; font-size: 18px; font-weight: normal; font-style: normal; font-family: 'pragmaticalightcregular'; color: #fefdcc; }
.prog-ban_mod .funny-btn_s { margin-right: 90px; }
.prog-ban_mod .prog-ban__title { margin-bottom: 5px; font-size: 35px; }
.prog-ban_mod .prog-ban__title strong { font-size: 58px; }

.prog-ban__quest { display: block; margin-bottom: 24px; color: #feed03; font-size: 27px; font-weight: normal; }

.prog-ban__col { float: left; width: 260px; margin: 0 50px 22px 0; }
.prog-ban__col strong { display: block; margin-bottom: 9px; font-weight: normal; font-style: normal; font-family: 'pragmaticalightcbold'; }

.prog-ban__col-right { margin-right: 0; }

.experts-wrap .wrapper { padding: 35px 0; }

.expert { float: left; margin-right: 15px; width: 311px; }
.expert .benefit { display: inline-block; float: none; margin-bottom: 29px; }
.expert .benefit img { display: block; -webkit-border-radius: 45px; -moz-border-radius: 45px; -ms-border-radius: 45px; -o-border-radius: 45px; border-radius: 45px; }

.expert__text { padding: 0 10px 0 30px; font-size: 14px; color: #fefdcc; font-family: Verdana, sans-serif; }
.expert__text strong { color: #d5f390; font-size: 18px; }
.expert__text p { font-style: normal; }

.gifts-wrap { margin-right: -30px; padding-top: 10px; overflow: hidden; }

.gift { float: left; width: 310px; margin-right: 24px; color: #23292d; }

.gift__title { color: #003d20; font-size: 18px; font-weight: bold; text-decoration: none; }
.gift__title:hover { text-decoration: underline; }

.gift__img { position: relative; display: block; margin: 22px 0 30px; width: 310px; height: 132px; overflow: hidden; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; -webkit-box-shadow: 0 2px 3px rgba(0, 61, 32, 0.3); -moz-box-shadow: 0 2px 3px rgba(0, 61, 32, 0.3); box-shadow: 0 2px 3px rgba(0, 61, 32, 0.3); }
.gift__img:hover { -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -webkit-transform: translate(0, -10px); -moz-transform: translate(0, -10px); -ms-transform: translate(0, -10px); -o-transform: translate(0, -10px); transform: translate(0, -10px); }
.gift__img img { display: block; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; }

.gift__price { position: absolute; bottom: 15px; right: 0; padding: 7px 30px 7px 13px; color: #fff; font-size: 13px; line-height: 1; background: #168244; background: rgba(22, 130, 68, 0.7); -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; -ms-border-radius: 4px 0 0 4px; -o-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; }
.gift__price strong { display: block; font-size: 17px; }

.begin-course { padding-top: 40px; font-size: 18px; color: #0a4525; text-align: center; }
.begin-course .funny-btn { margin-bottom: 20px; }
.begin-course span { display: block; font-style: italic; }

.step { padding-top: 45px; overflow: hidden; }
.step li { position: relative; float: left; margin-right: 60px; padding: 0 0 0 23px; height: 100px; line-height: 100px; background: #036f35; border-bottom: 1px solid #1d672e; -webkit-box-shadow: inset 0 -1px 0 #048a42; -moz-box-shadow: inset 0 -1px 0 #048a42; box-shadow: inset 0 -1px 0 #048a42; }
.step li:after, .step li:before { content: ""; position: absolute; top: 0; }
.step li:after { right: -50px; background: url('../img/icons-seb956d0c73.png') 0 -2308px no-repeat; width: 50px; height: 101px; }
.step li:before { left: -46px; background: url('../img/icons-seb956d0c73.png') 0 -2419px no-repeat; width: 46px; height: 101px; }
.step .step__3 { margin-right: 0; }

.step__number { display: inline-block; margin-right: 15px; width: 48px; height: 48px; line-height: 48px; font-size: 30px; font-family: Verdana,sans-serif; text-align: center; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #03873a; color: #ffed03; border: 2px solid; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8); vertical-align: middle; }

.step__text { display: inline-block; vertical-align: middle; line-height: 1.4; color: #ffed03; font-family: Verdana,sans-serif; }

.step__1 { width: 300px; }
.step__1:before { display: none; }
.step__1 .step__text { width: 185px; }

.step__2 { width: 186px; }
.step__2 .step__text { width: 110px; }

.step__3 { width: 295px; }
.step__3:after { display: none; }
.step__3 .step__text { width: 216px; }

.common-wrap { padding: 30px 0 80px; }

.scroll-tabs_shop li { padding: 0; width: 20%; height: 58px; line-height: 58px; text-align: center; }
.scroll-tabs_shop li:first-child { padding-left: 0 !important; }
.scroll-tabs_shop .is-active { padding-left: 1px; }
.scroll-tabs_shop .is-active .icon-1 { background: url('../img/icons-seb956d0c73.png') 0 -3032px no-repeat; width: 16px; height: 16px; }
.scroll-tabs_shop .is-active .icon-2 { background: url('../img/icons-seb956d0c73.png') 0 -2860px no-repeat; width: 29px; height: 14px; }
.scroll-tabs_shop .is-active .icon-3 { background: url('../img/icons-seb956d0c73.png') 0 -2193px no-repeat; width: 26px; height: 26px; }
.scroll-tabs_shop .is-active .icon-4 { background: url('../img/icons-seb956d0c73.png') 0 -2973px no-repeat; width: 24px; height: 23px; }
.scroll-tabs_shop .is-active .icon-5 { background: url('../img/icons-seb956d0c73.png') 0 -3091px no-repeat; width: 17px; height: 22px; }
.scroll-tabs_shop i, .scroll-tabs_shop span { display: inline-block; vertical-align: middle; }
.scroll-tabs_shop i { margin-right: 8px; }
.scroll-tabs_shop .icon-1 { background: url('../img/icons-seb956d0c73.png') 0 -3006px no-repeat; width: 16px; height: 16px; }
.scroll-tabs_shop .icon-2 { background: url('../img/icons-seb956d0c73.png') 0 -2884px no-repeat; width: 29px; height: 14px; }
.scroll-tabs_shop .icon-3 { background: url('../img/icons-seb956d0c73.png') 0 -2157px no-repeat; width: 26px; height: 26px; }
.scroll-tabs_shop .icon-4 { background: url('../img/icons-seb956d0c73.png') 0 -2940px no-repeat; width: 24px; height: 23px; }
.scroll-tabs_shop .icon-5 { background: url('../img/icons-seb956d0c73.png') 0 -3058px no-repeat; width: 17px; height: 23px; }

.scroll-shop { display: none; position: relative; padding: 10px 0 30px; }
.scroll-shop .prod-nav { top: 114px; }
.scroll-shop .prod-prev { left: 30px; }
.scroll-shop .prod-next { right: 30px; }

.scroll-nav { position: absolute; top: -14px; right: 90px; }

.scroll-shop__wrap { position: relative; width: 795px; height: 400px; margin: 0 auto; overflow: hidden; }

.scroll-shop__items { position: absolute; top: 0; width: 2000em; }

.slide { position: relative; float: left; width: 793px; height: 350px; background: #036f35; border: 1px solid rgba(0, 71, 38, 0.3); -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.slide:after { content: ""; position: absolute; left: 0; bottom: -30px; width: 100%; height: 30px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNjgiPjxzdG9wIG9mZnNldD0iMTglIiBzdG9wLWNvbG9yPSJyZ2JhKDAsIDAsIDAsIDAuMikiLz48c3RvcCBvZmZzZXQ9IjY4JSIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwKSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 68, color-stop(18%, rgba(0, 0, 0, 0.2)), color-stop(68%, rgba(0, 0, 0, 0))); background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.2) 18%, rgba(0, 0, 0, 0) 68%); background-image: -moz-radial-gradient(rgba(0, 0, 0, 0.2) 18%, rgba(0, 0, 0, 0) 68%); background-image: -o-radial-gradient(rgba(0, 0, 0, 0.2) 18%, rgba(0, 0, 0, 0) 68%); background-image: -ms-radial-gradient(rgba(0, 0, 0, 0.2) 18%, rgba(0, 0, 0, 0) 68%); background-image: radial-gradient(rgba(0, 0, 0, 0.2) 18%, rgba(0, 0, 0, 0) 68%); }

.slide__img { position: relative; float: left; margin-right: 40px; }
.slide__img img { display: block; }
.slide__img span { position: absolute; right: 0; bottom: 12px; padding: 0 21px 0 18px; height: 45px; line-height: 45px; color: #fff; background: #197543; background: rgba(25, 117, 67, 0.9); -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; -ms-border-radius: 4px 0 0 4px; -o-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; }

.slide__main { position: relative; overflow: hidden; height: 350px; font-weight: normal; font-style: normal; font-family: 'pragmaticalightcregular'; }
.slide__main .funny-btn { position: absolute; bottom: 25px; left: 60px; padding: 0 45px; height: 52px; line-height: 52px; }
.slide__main .funny-btn:after { display: none; }

.slide__price { position: absolute; top: -68px; right: -44px; width: 155px; height: 155px; background: #ffed03; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); font-size: 21px; color: #036f35; line-height: 1; }
.slide__price span { position: absolute; bottom: 0; left: 0; bottom: 18px; left: 25px; text-align: right; }
.slide__price strong { display: block; font-size: 42px; font-weight: normal; }

.slide__title { padding: 28px 110px 33px 0; font-size: 40px; line-height: 1; }
.slide__title strong { display: block; font-weight: normal; font-style: normal; font-family: 'pragmaticalightcbold'; }

.slide__descr { color: #d5f390; font-size: 30px; }

.banner-link { display: block; overflow: hidden; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 2px 3px rgba(0, 61, 32, 0.3); -moz-box-shadow: 0 2px 3px rgba(0, 61, 32, 0.3); box-shadow: 0 2px 3px rgba(0, 61, 32, 0.3); }
.banner-link img { display: block; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.action-wrap { margin: 40px -40px 0 0; }

.action { float: left; margin: 0 30px 40px 0; width: 460px; overflow: hidden; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -webkit-box-shadow: 0 2px 3px rgba(0, 61, 32, 0.3); -moz-box-shadow: 0 2px 3px rgba(0, 61, 32, 0.3); box-shadow: 0 2px 3px rgba(0, 61, 32, 0.3); }
.action:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.action img { margin: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }

.action__img { position: relative; overflow: hidden; display: block; }
.action__img img { display: block; }
.action__img span { position: absolute; right: 0; top: 10px; padding: 0 30px 0 25px; height: 45px; line-height: 45px; font-size: 13px; color: #fff; background: #166234; background: rgba(22, 98, 52, 0.8); -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; -ms-border-radius: 4px 0 0 4px; -o-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; }
.action__img span strong { font-size: 17px; font-family: Verdana,sans-serif; }
.action__img .action__quant { top: auto; bottom: 10px; }

.action__bottom { position: relative; background: #d5f390; overflow: hidden; }

.action__text { padding-left: 130px; color: #036f35; line-height: 1; font-size: 20px; height: 65px; line-height: 65px; font-weight: normal; font-style: normal; font-family: 'pragmaticalightcregular'; }
.action__text span { display: inline-block; line-height: 1; vertical-align: middle; }
.action__text strong { font-weight: normal; font-style: normal; font-family: 'pragmaticalightcbold'; }

.action__logo { position: absolute; top: 0; left: 0; height: 65px; line-height: 65px; width: 105px; text-align: center; background: #eefad3; }
.action__logo:hover { background: #fff; }
.action__logo:hover:after { background: url('../img/icons-seb956d0c73.png') 0 -3319px no-repeat; width: 16px; height: 65px; }
.action__logo:after { content: ""; position: absolute; right: -16px; top: 0; background: url('../img/icons-seb956d0c73.png') 0 -2715px no-repeat; width: 16px; height: 65px; }

.sidebar { padding-left: 12px; width: 276px; float: left; }

.main-col { float: right; width: 666px; }

.user-img { display: inline-block; position: relative; margin-bottom: 30px; text-align: center; }
.user-img:after { content: ""; position: absolute; left: 0; bottom: -22px; width: 100%; height: 20px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNjgiPjxzdG9wIG9mZnNldD0iMTglIiBzdG9wLWNvbG9yPSJyZ2JhKDAsIDAsIDAsIDAuMikiLz48c3RvcCBvZmZzZXQ9IjY4JSIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwKSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 68, color-stop(18%, rgba(0, 0, 0, 0.2)), color-stop(68%, rgba(0, 0, 0, 0))); background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.2) 18%, rgba(0, 0, 0, 0) 68%); background-image: -moz-radial-gradient(rgba(0, 0, 0, 0.2) 18%, rgba(0, 0, 0, 0) 68%); background-image: -o-radial-gradient(rgba(0, 0, 0, 0.2) 18%, rgba(0, 0, 0, 0) 68%); background-image: -ms-radial-gradient(rgba(0, 0, 0, 0.2) 18%, rgba(0, 0, 0, 0) 68%); background-image: radial-gradient(rgba(0, 0, 0, 0.2) 18%, rgba(0, 0, 0, 0) 68%); }
.user-img img { display: block; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; border: 1px solid #017237; }
.user-img strong { position: absolute; bottom: 0; left: 0; right: 0; padding: 3px 0; color: #fefdcc; font-weight: normal; font-style: normal; font-family: 'pragmaticalightcbold'; background: #01843e; background: rgba(0, 132, 62, 0.6); border: 1px solid #017237; border-top: 0; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -ms-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; }
.user-img span { display: block; }

.user-info { position: relative; margin-bottom: 20px; padding-bottom: 10px; width: 250px; text-align: center; }
.user-info .funny-btn { -webkit-box-shadow: 0 2px 9px rgba(3, 94, 48, 0.43), inset 0 -1px 0 rgba(255, 255, 255, 0.29); -moz-box-shadow: 0 2px 9px rgba(3, 94, 48, 0.43), inset 0 -1px 0 rgba(255, 255, 255, 0.29); box-shadow: 0 2px 9px rgba(3, 94, 48, 0.43), inset 0 -1px 0 rgba(255, 255, 255, 0.29); }
.user-info .funny-btn:after { display: none; }
.user-info .wrapper { margin: 23px 0; border-top: 1px dotted #deebad; border-bottom: 1px dotted #deebad; }
.user-info .btn-green { float: right; margin-top: 29px; }

.user-info__top { position: absolute; left: -12px; top: -3px; width: 287px; height: 8px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: #103b08; -webkit-box-shadow: 0 1px 0 #57a342; -moz-box-shadow: 0 1px 0 #57a342; box-shadow: 0 1px 0 #57a342; }

.user-info__wrap { position: relative; z-index: 2; padding: 22px 5px; width: 250px; background-color: #015f2d; -webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.17); -moz-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.17); box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.17); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5YzkzYiIvPjxzdG9wIG9mZnNldD0iOTguNjMlIiBzdG9wLWNvbG9yPSIjNTVhMTQxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTY1NzA2Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #99c93b), color-stop(98.63%, #55a141), color-stop(100%, #165706)); background-image: -webkit-linear-gradient(bottom, #99c93b 0%, #55a141 98.63%, #165706 100%); background-image: -moz-linear-gradient(bottom, #99c93b 0%, #55a141 98.63%, #165706 100%); background-image: -o-linear-gradient(bottom, #99c93b 0%, #55a141 98.63%, #165706 100%); background-image: -ms-linear-gradient(bottom, #99c93b 0%, #55a141 98.63%, #165706 100%); background-image: linear-gradient(bottom, #99c93b 0%, #55a141 98.63%, #165706 100%); }

.user-info__title { display: block; margin-bottom: 20px; font-size: 26px; font-weight: normal; font-style: normal; font-family: 'pragmaticalightcregular'; line-height: 1; }

.user-info__day { text-align: center; line-height: 1; }
.user-info__day strong { display: block; font-size: 92px; font-weight: bold; text-shadow: 0 -1px 0 rgba(18, 83, 22, 0.5); }
.user-info__day span { font-size: 26px; font-weight: normal; font-style: normal; font-family: 'pragmaticalightcregular'; }

.user-info__place { float: left; padding: 12px 0 14px 15px; text-align: left; line-height: 1; }
.user-info__place strong, .user-info__place span { vertical-align: top; }
.user-info__place strong { font-weight: normal; font-style: normal; font-family: 'pragmaticalightcbold'; font-size: 30px; }
.user-info__place span { font-weight: normal; font-style: normal; font-family: 'pragmaticalightcregular'; font-size: 18px; }
.user-info__place div span { display: inline-block; padding: 2px 7px; color: #fff456; font-size: 14px; font-family: Arial,sans-serif; background: #72b23e; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; }

.user-info__soc { color: #1e620f; font-size: 19px; text-align: center; }
.user-info__soc .soc { margin-top: 12px; }

.prof { background: #009a2a; overflow: hidden; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; }

.prof__top { height: 42px; border-bottom: 2px solid #fff600; }

.prof-tab { float: left; height: 42px; background: #21ab3d; -webkit-border-radius: 7px 7px 0 0; -moz-border-radius: 7px 7px 0 0; -ms-border-radius: 7px 7px 0 0; -o-border-radius: 7px 7px 0 0; border-radius: 7px 7px 0 0; }
.prof-tab .is-active { color: #1a8845; background: #f7ffe4; border: 2px solid #fff600; border-bottom: 0; height: 42px; line-height: 42px; text-shadow: 0 1px 0 rgba(18, 83, 22, 0.44); -webkit-border-radius: 7px 7px 0 0; -moz-border-radius: 7px 7px 0 0; -ms-border-radius: 7px 7px 0 0; -o-border-radius: 7px 7px 0 0; border-radius: 7px 7px 0 0; -webkit-box-shadow: 5px 0 7px -5px rgba(0, 0, 0, 0.3), -5px 0 7px -5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 5px 0 7px -5px rgba(0, 0, 0, 0.3), -5px 0 7px -5px rgba(0, 0, 0, 0.3); box-shadow: 5px 0 7px -5px rgba(0, 0, 0, 0.3), -5px 0 7px -5px rgba(0, 0, 0, 0.3); }
.prof-tab li { display: inline-block; vertical-align: top; padding: 0 27px; height: 44px; line-height: 44px; color: #f3ffd7; cursor: pointer; font-size: 16px; text-shadow: 0 -1px 0 rgba(18, 83, 22, 0.44); -webkit-border-radius: 7px 7px 0 0; -moz-border-radius: 7px 7px 0 0; -ms-border-radius: 7px 7px 0 0; -o-border-radius: 7px 7px 0 0; border-radius: 7px 7px 0 0; -webkit-box-shadow: 3px 0 7px -2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 3px 0 7px -2px rgba(0, 0, 0, 0.2); box-shadow: 3px 0 7px -2px rgba(0, 0, 0, 0.2); }

.prof__settings { float: right; margin: 9px 14px 0 0; background: url('../img/icons-seb956d0c73.png') 0 -2127px no-repeat; width: 18px; height: 20px; }

.prof__main { padding: 12px 0; background: #f7ffe4; border: 2px solid #fff600; border-top: 0; }

.tab-cont { display: none; }

.news { padding: 0 21px 0 27px; }
.news li { padding: 17px 0 15px; overflow: hidden; border-top: 1px dotted #85b773; }
.news li:first-child { border-top: 0; }

.news__img { float: left; margin-right: 22px; text-decoration: none; }
.news__img img { display: block; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 0 2px 0 rgba(110, 179, 83, 0.75); -moz-box-shadow: 0 2px 0 rgba(110, 179, 83, 0.75); box-shadow: 0 2px 0 rgba(110, 179, 83, 0.75); }
.news__img img:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.news__img_round img { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

.news__main { float: left; padding-top: 10px; width: 350px; color: #8a9287; font-size: 13px; }
.news__main p { margin-bottom: 5px; }
.news__main .mark { font: normal 11px/1 Verdana, sans-serif; }
.news__main .mark strong { display: block; margin-bottom: -2px; font-weight: normal; font-style: normal; font-family: 'pragmaticalightcbold'; color: #93c72f; font-size: 25px; }

.news__title { display: inline-block; margin-bottom: 5px; font-size: 16px; color: #23292d; text-decoration: none; }
.news__title:hover { text-decoration: underline; }

.news__date { float: right; padding-top: 10px; color: #07873f; font-size: 12px; }

.loading { display: block; margin: 29px auto; background: url('../img/icons-seb956d0c73.png') 0 -1846px no-repeat; width: 50px; height: 49px; }

.achieve { padding: 0 2px; }

.achieve__top { margin-bottom: 26px; padding: 10px 5px 15px 11px; font-weight: normal; font-style: normal; font-family: 'pragmaticalightcregular'; color: #23292d; font-size: 18px; border-bottom: 1px dotted #85b773; }
.achieve__top strong { font-size: 26px; }

.badge-wrap { overflow: hidden; text-align: center; }
.badge-wrap a { display: inline-block; margin: 0 37px 18px 0; -webkit-transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); -moz-transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); -ms-transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); -o-transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); }
.badge-wrap a:hover { -moz-transform: rotate(100deg); -o-transform: rotate(100deg); -webkit-transform: rotate(100deg); -ms-transform: rotate(100deg); transform: rotate(100deg); filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand'); zoom: 1; }

.badge-1 { background: url('../img/badges-s3f7352cd2e.png') 0 -315px no-repeat; width: 155px; height: 154px; }

.badge-2 { background: url('../img/badges-s3f7352cd2e.png') 0 -147px no-repeat; width: 155px; height: 158px; }

.badge-3 { background: url('../img/badges-s3f7352cd2e.png') 0 -1289px no-repeat; width: 155px; height: 154px; }

.badge-4 { background: url('../img/badges-s3f7352cd2e.png') 0 -479px no-repeat; width: 155px; height: 161px; }

.badge-5 { background: url('../img/badges-s3f7352cd2e.png') 0 -650px no-repeat; width: 155px; height: 154px; }

.badge-6 { background: url('../img/badges-s3f7352cd2e.png') 0 -961px no-repeat; width: 155px; height: 154px; }

.badge-7 { background: url('../img/badges-s3f7352cd2e.png') 0 -1125px no-repeat; width: 155px; height: 154px; }

.badge-8 { background: url('../img/badges-s3f7352cd2e.png') 0 0 no-repeat; width: 137px; height: 137px; }

.badge-9 { background: url('../img/badges-s3f7352cd2e.png') 0 -814px no-repeat; width: 137px; height: 137px; }
