@import "base";
.btn-orange_s {
    height: 30px;
    line-height: 30px;
}  
.download-photo {
    margin-bottom: 20px;
    padding: 10px 15px;
    background: #a5c63d;
    @include border-radius(9px);
    @include box-shadow(0 2px 3px rgba(0,61,32,.31));
    .btn-orange {
        vertical-align: middle;
    }
    img {
        margin-right: 30px;
        vertical-align: middle;
        @include border-radius(9px);
        @include box-shadow(0 2px 3px rgba(0,61,32,.31));
    }
}
.download-photo__text {
    padding-right: 40px;
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    @include r;
    font-size: 14px;
    color: #003d20;
    a {
        color: #fefdcc;
        border-bottom: 1px dotted;
        text-decoration: none;
    }
}
.download-photo__title {
    display: block;
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: normal;
}

.propose-wrap {
    float: left;
    width: 806px;
}
.propose {
    position: relative;
    margin-bottom: 48px;
    overflow: hidden;
    background: #fff;
    @include border-radius(9px);
    @include box-shadow(0 2px 3px rgba(0,61,32,.31));
}
.propose__img {
    position: relative;
    float: left;
    img {
        display: block;
    }
}
.propose__label {
    position: absolute;
    bottom: 36px;
    left: 0;
    padding: 4px 12px 4px 16px;
    font-size: 14px;
    color: #fff;
    background: #00662f;
    @include r;
    strong {
        @include b;
        color: #ffce00;
        font-size: 16px;
    }
}
.propose__main {
    overflow: hidden;
    height: 320px;
    @include box-sizing(border-box);
    padding: 33px 30px 0;
    font-size: 14px;
    line-height: 1.2;
    color: #003d20;
    .get-code {
        margin-top: 35px;
    }
}
.propose__title {
    margin-bottom: 7px;
    font-size: 30px;
    line-height: 1;
    font-weight: normal;
}
.get-code {
    position: relative;
    padding-left: 23px;
    height: 31px;
    line-height: 31px;
    width: 200px;
    background: #a5c63d;
    color: #fefdcc;
    @include border-radius(5px);
    .btn-orange {
        position: absolute;
        right: -10px;
        top: 0;
        height: 31px;
    }
}
.get-code__info {
    position: absolute;
    right: 0;
    bottom: -16px;
    color: #5da745;
    font-size: 11px;
    line-height: 1;
}
.propose__foter {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px 0;
    width: 341px;
    color: #fefdcc;
    background: #00662f;
    text-align: center;
    span {
        display: block;
        margin-bottom: 4px;
    }
}

.clock-bar {
    position: relative;
    float: right;
    margin-top: 64px;
    padding-top: 80px;
    width: 147px;
    text-align: center;
    color: #fefdcc;
    background: #00662f;
    @include border-radius(9px);
    &:before {
        content: "";
        position: absolute;
        top: -74px;
        left: 0;
        @include sized-sprite($icons_new, clock);
    }
} 
.clock-bar__cont {
    padding: 0 15px;   
    p {
        margin-bottom: 10px;
        &:first-child {
            strong {
                font-size: 24px;   
            }
        }
    }
    span {
        display: inline-block;
        line-height: 1;
        color: #5ca645;
    }
    strong {
        font-weight: normal;
        color: #fde106;
    }
}
.clock-bar__footer {
    padding: 4px 0 7px;
    border-top: 1px dotted #fff;
    .btn-orange {
        margin-top: 3px;
    }
}