@import "base";

// Test page
.main-test {
    padding: 48px 0 72px;
}
.test-user {
    margin-bottom: 9px;
    padding: 0 0 3px;
    @include plb;
    font-size: 24px;
    strong {
        display: block;
        color: #fefdcc;
        line-height: 1.2;
    }
    span {
        color: #feed03;
        span {
            font-size: 34px;
        }
    }
}
.test-user__img {
    float: left;
    margin-right: 30px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    @include border-radius(15px);
    @include box-shadow(2px 2px 0 rgba(35,119,25,.75));
    img {
        display: block;
    }
} 
.test-user__info {
    float: left;
    width: 220px;
}
.bubble {
    float: right;
    margin: -12px 148px 0 0;
    text-align: center;
    line-height: 107px;
    @include plr;
    font-size: 34px;
    color: #feed03;
    @include sized-sprite($icons, bubble); 
} 

.scroll {
    
}
.scroll__nav {
    text-align: center;
    margin-bottom: 10px;
    button {
        margin-right: 12px;
        width: 33px;
        height: 33px;
        border: 0;
        background: #029647;
        color: #9dd891;
        font: normal 16px Verdana,sans-serif;
        @include border-radius(50%);
        &:first-child {
            margin-left: -58px; 
        }
    }
    .is-active {
        color: #654d12;
        font-weight: bold;
        @include box-shadow(0 0 0 2px #ffed03);
        background-color: #67b13d;
        @include background-image(radial-gradient(#2da341, #6ebb31));
    }
}
.scroll__title {
    display: block;
    margin-bottom: 20px;
    color: #feed03;
    @include plb;
    font-size: 36px;
    text-align: center;
}
.scroll__main {
    position: relative;
    height: 480px;
    overflow: hidden;
}
.scroll__wrap {
    position: absolute;
    left: 0;
    top: 0;
    height: 480px;
    width: 2000em;
    overflow: hidden;
    p {
        line-height: 26px; 
    }
    .is-active {
        i {
            position: absolute;
            bottom: -11px;
            right: 52px;
            @include sized-sprite($icons, selected);
        }
    }
}
.scroll__slide {
    float: left;
    margin-right: 30px;
    width: 300px;
    opacity: .7;
    color: #bdd6a1;
    font-size: 24px;
    cursor: pointer;
    @include transition(all .5s ease-in-out);
    &:hover {
        color: #fff;
        opacity: 1;
    }
}
.scroll__img {
    position: relative;
    margin-bottom: 34px;
    width: 280px;
    height: 290px;
    @include border-radius(50%);
    img {
        width: 280px;
        height: 290px;
        @include border-radius(50%);
    }
    
}

.title-l-1,
.title-l-2 {
    @include plr;
    color: #fefdcc;
    font-size: 43px;
    strong {
       @include plb;
       text-transform: capitalize; 
    }
}
.title-l-2 {
    font-size: 30px;
    margin: 30px 0 20px;
}

.new-prod {
    margin: 22px 0 40px 40px;
}
.new-prod__img {
    position: relative;
    float: left;
    margin-right: 20px;
    &:before {
        content: "";
        position: absolute;
        left: -146px;
        top: -172px;
        width: 545px;
        height: 545px;
        @include background-image(radial-gradient(rgba(247,234,2,.4) 18%, rgba(247,234,2,0) 68%));
    }
    img {
        position: relative;
        z-index: 2;
        margin-top: 7px;
    }
}
.new-prod__info {
    overflow: hidden;
    font-size: 18px;
    @include plr;
    strong {
        @include plb;
    }
    ul {
        margin-top: 33px;
    }
    li {
        margin-bottom: -3px;
    }
}
.new-prod__title {
    margin-bottom: 4px;
    color: #feed03;
    font-size: 27px;
    font-weight: normal;
}

.scroll-tabs {
    position: relative;
    z-index: 2;
    margin-bottom: 31px;
    li {
        position: relative;
        display: inline-block;
        margin-right: -4px;
        padding: 15px 22px;
        font-size: 14px;
        font-family: Verdana, sans-serif;
        text-align: center;
        color: #fefdcc;
        cursor: pointer;
        text-align: center;
        background: #005e23;
        vertical-align: top;
        border-left: 1px solid #06863d;
        border-bottom: 1px solid #06863d;
        @include box-shadow(inset 1px 0 0 #014918, 0 1px 0 #014918);
        &:first-child {
            border-left: 0;
            @include box-shadow(0 1px 0 #014918);
            @include border-radius(10px 0 0 10px);
            padding-left: 22px !important;
        }
        &:last-child {
            @include border-radius(0 10px 10px 0);
        }
    }
    span {
        display: block;
    }
    .is-active {
        color: #ffed03;
        padding-left: 23px;
        border-left: 0;
        @include box-shadow(inset 2px 0 0 #014918, 0 1px 0 #014918);
        &:after {
            content: "";
            position: absolute;
            bottom: -17px;
            left: 50%;
            margin-left: -24px;
            @include sized-sprite($icons, arr3);
        }
    }
} 

.products {
    padding: 46px 0 96px;
}

.scroll-prod-wrap {
    display: none;
    position: relative;
}
.scroll-prod {
    float: left;
    position: relative;
    padding-top: 17px;
    margin: 0 0 -40px 62px;
    width: 690px;
    height: 255px;
    overflow: hidden;
}
.scroll-prod__main {
    position: absolute;
    width: 2000em;
    top: 17px;
    .is-active {
        z-index: 2;
        &:before { 
            content: "";
            position: absolute;
            left: -68px;
            bottom: -48px;
            z-index: 3;
            width: 230px;
            height: 200px;
            @include background-image(radial-gradient(rgba(247,234,2,.9) 18%, rgba(94,171,40,0) 68%));
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -28px;
            left: 50%;
            margin-left: -24px;
            @include sized-sprite($icons, arr4);
        }
    }
    .icon-new {
        position: absolute;
        top: -16px;
        right: -20px;
        z-index: 5;
        @include sized-sprite($icons, new);
    }
}
.scroll-prod__item {
    position: relative;
    float: left;
    margin-right: 20px;
    cursor: pointer;
    img {
        position: relative;
        z-index: 4;
    }
}
.prod-nav {
    position: absolute;
    border: 0;
    top: 52px;
} 
.prod-prev {
    left: 12px;
    @include sized-sprite($icons, prev);
}
.prod-next {
    right: 177px;
    @include sized-sprite($icons, next);
}

.prod-mix {
    position: relative;
    z-index: 2;
    float: right;
    margin: 16px 20px 0 0;
    width: 160px;
    text-align: center; 
    div {
        margin: 0 auto;
        width: 80%;
    }
    a {
        color: #9ecb3a;
        font-size: 14px;
        font-family: Verdana,sans-serif;
    }
}
.scroll-message {
    clear: both;
    position: relative;
    padding: 20px 65px 20px 38px;
    background: #00732c;
    border: 2px solid #26ba00;
    @include border-radius(7px);
    ul {
        float: right;
        width: 40%; 
    }
} 
.scroll-message__info {
    float: left;
    width: 50%;
    color: #fefdcc;
    font-size: 18px;
    font-family: Verdana,sans-serif;
}

.content-outer {
    padding-bottom: 82px;
    position: relative;
    background: #fff;
}
.line-4 {
    position: absolute;
    left: 0;
    top: -46px;
    right: 0;
    width: 100%;
    height: 46px;
    background: url(../img/line4.png) 50% 0 repeat-x;
}
.content {
    overflow: hidden;
    margin: 0 auto;
    padding-top: 10px;
    width: 980px;
    color: #003d20;
    font: normal 14px Verdana,sans-serif;
    h1 {
        margin: 32px 0 10px;
        font-size: 36px;
        @include plr;
    }
    h2 {
        margin: 20px 0 15px; 
        color: #037a39;
        font-size: 18px;
    }
    p {
        margin-bottom: 17px;
    }
    img {
        margin: 30px 0;
        @include border-radius(7px);
        @include box-shadow(0 2px 3px rgba(0,61,32,.3));
    }
}
.equal-col {
    width: 47%;
}
.equal__col-left {
    float: left;
}
.equal__col-right {
    float: right;
}

.video-scroll-wrap {
    position: relative;
    padding-bottom: 50px;
    .disabled {
        display: none;
    }
}
.video-nav {
    position: absolute;
    top: 54px;
}
.video-nav_prev {
    left: 0;
    @include sized-sprite($icons, prev2);
}
.video-nav_next {
    right: 0;
    @include sized-sprite($icons, next2);
}
.video-scroll {
    position: relative;
    margin: 0 auto; 
    width: 862px; 
    height: 230px;
    overflow: hidden;
}
.video-scroll__wrap {
    position: absolute;
    top: 0;
    width: 2000em;
    .video-preview {
        float: left;
        margin-right: 25px;
    }
}


.program-section{
    position: relative;
    padding: 77px 0 3px;
}
.prog-ban-img {
    position: relative;
    float: left;
    border: 1px solid #017237;
    @include border-radius(7px);
    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -27px;
        width: 100%;
        height: 30px;
        @include border-radius(50%);
        @include background-image(radial-gradient(rgba(0,0,0,.3) 18%, rgba(0,0,0,0) 68%));
    } 
    img {
        display: block;
        @include border-radius(5px);
    }
}
.prog-ban_mod {
    float: right;
    width: 590px;
    font-size: 18px;
    @include plr;
    color: #fefdcc;
    .funny-btn_s {
        margin-right: 90px;
    }
    .prog-ban__title {
        margin-bottom: 5px;
        font-size: 35px;
        strong {
            font-size: 58px;
        }
    }
}
.prog-ban__quest {
    display: block;
    margin-bottom: 24px;
    color: #feed03;
    font-size: 27px;
    font-weight: normal;
}
.prog-ban__col {
    float: left;
    width: 260px;
    margin: 0 50px 22px 0;
    strong {
        display: block;
        margin-bottom: 9px;
        @include plb;
    }
}
.prog-ban__col-right {
    margin-right: 0;
}
.experts-wrap {
    .wrapper {
        padding: 35px 0;
    }
}
.expert {
    float: left;
    margin-right: 15px;
    width: 311px;
    .benefit {
        display: inline-block;
        float: none;
        margin-bottom: 29px;
        img {
            display: block;
            @include border-radius(45px);
        }
    }
}
.expert__text {
    padding: 0 10px 0 30px;
    font-size: 14px;
    color: #fefdcc;
    font-family: Verdana, sans-serif;
    strong {
        color: #d5f390;
        font-size: 18px;
    }
    p {
        font-style: normal;
    }
}
.gifts-wrap {
    margin-right: -30px;
    padding-top: 10px;
    overflow: hidden;
}
.gift {
    float: left;
    width: 310px;
    margin-right: 24px;
    color: #23292d;
}
.gift__title {
    color: #003d20;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.gift__img {
    position: relative;
    display: block;
    margin: 22px 0 30px;
    width: 310px;
    height: 132px;
    overflow: hidden;
    @include border-radius(7px);
    @include box-shadow(0 2px 3px rgba(0,61,32,.3));
    &:hover {
        @include transition(all .5s ease-in-out);
        @include translate(0, -10px);
    }
    img { 
        display: block;
        @include border-radius(7px);
    }
}
.gift__price {
    position: absolute;
    bottom: 15px; 
    right: 0;
    padding: 7px 30px 7px 13px;
    color: #fff;
    font-size: 13px; 
    line-height: 1;
    background: rgba(22,130,68,.7);
    @include border-radius(4px 0 0 4px);
    strong {
        display: block;
        font-size: 17px;
    } 
}

.begin-course {
    padding-top: 40px;
    font-size: 18px;
    color: #0a4525;
    text-align: center;
    .funny-btn {
        margin-bottom: 20px;
    }
    span {
        display: block;
        font-style: italic;
    }
}

.step {
    padding-top: 45px;
    overflow: hidden;
    li {
        position: relative;
        float: left;
        margin-right: 60px;
        padding: 0 0 0 23px;
        height: 100px;
        line-height: 100px;
        background: #036f35;
        border-bottom: 1px solid rgba(29,103,46,1);
        @include box-shadow(inset 0 -1px 0 #048a42);
        &:after,
        &:before {
            content: "";
            position: absolute;
            top: 0;
        }
        &:after {
            right: -50px;
            @include sized-sprite($icons, corner-step);    
        }
        &:before {
            left: -46px;
            @include sized-sprite($icons, corner2-step);    
        }
    }
    .step__3 {
        margin-right: 0;
    }
}
.step__number {
    display: inline-block;
    margin-right: 15px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 30px;
    font-family: Verdana,sans-serif;
    text-align: center;
    @include border-radius(50%);
    background: #03873a;
    color: #ffed03;
    border: 2px solid;
    text-shadow: 1px 1px 0 rgba(0,0,0,.8);
    vertical-align: middle;
}
.step__text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.4;
    color: #ffed03;
    font-family: Verdana,sans-serif;
}
.step__1 {
    width: 300px;
    &:before {
        display: none;    
    }
    .step__text {
        width: 185px;
    }
} 
.step__2 {
    width: 186px;
    .step__text {
        width: 120px;
    }
} 
.step__3 {
    width: 295px;
    &:after {
        display: none;
    }
    .step__text {
        width: 230px;
    }
} 