@import "base";

// Test page
.main-test {
    padding: 0 0 146px;
    margin-top: -2px;
    .bubble{
        margin-right: 125px;
    }
}
.bubble {
    float: right;
    width: 70px;
    height: 70px;
    color: #7a5c15;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255,237,2, .6);
    border: 4px solid #ffed03;
    @include border-radius(50%);
    background-color: #67b13d;
    @include background-image(radial-gradient(center center, 90px 90px, rgba(232,252,62,.6) 0%, rgba(94,161,19,.1) 100%));
    &.inactive{
        border: 4px solid #b4c2ac;
        @include background-image(radial-gradient(center center, 117px 117px, rgba(255,255,255,.71) 0%, rgba(216,216,216,.71) 100%));
    }
    &.bubble_alt{
        color: #fff;
    }
}

.scroll {
    clear: both;
}
.scroll__nav {
    text-align: center;
    margin-bottom: 10px;
    button {
        margin-right: 12px;
        width: 20px;
        height: 20px;
        border: 0;
        background: #029647;
        color: #9dd891;
        font: normal 16px Verdana,sans-serif;
        @include border-radius(50%);
        &:first-child {
            margin-left: -58px; 
        }
    }
    .is-active {
        color: #654d12;
        font-weight: bold;
        @include box-shadow(0 0 0 2px #ffed03);
        background-color: #67b13d;
        @include background-image(radial-gradient(#2da341, #6ebb31));
    }
}
.scroll__title {
    display: block;
    margin-bottom: 26px;
    color: #feed03;
    @include b;
    font-size: 36px;
    text-align: center;
}
.scroll__main {
    position: relative;
    height: 480px;
    overflow: hidden;
}
.scroll__wrap {
    position: absolute;
    left: 0;
    top: 0;
    height: 480px;
    width: 2000em;
    overflow: hidden;
    p {
        line-height: 26px;
        margin-left: 8px;
    }
    .is-active {
        i {
            position: absolute;
            bottom: 0;
            right: -7px;
            @include sized-sprite($icons, selected);
        }
    }
}
.scroll__slide {
    float: left;
}
.scroll__item {
    float: left;
    margin-right: 30px;
    width: 300px;
    opacity: .7;
    color: #bdd6a1;
    font-size: 24px;
    cursor: pointer;
    @include transition(all .5s ease-in-out);
    &:hover {
        color: #fff;
        opacity: 1;
    }
}
.scroll__img {
    position: relative;
    margin-bottom: 25px;
    width: 253px;
    height: 265px;
    @include border-radius(50%);
    img {
        max-width: 253px;
        min-height: 265px;
        @include border-radius(50%);
    }
}

.title-l-1,
.title-l-2 {
    @include r;
    color: #fefdcc;
    font-size: 43px;
    strong {
       @include b;
       text-transform: capitalize; 
    }
}
.title-l-2 {
    font-size: 30px;
    margin: 50px 0 20px;
}

.new-prod {
    margin: -5px 0 -25px;
}
.new-prod__img {
    position: relative;
    float: left;
    height: 270px;
    line-height: 270px;
    width: 332px;
    margin-right: 136px;
    text-align: center;
    &:before {
        content: "";
        position: absolute;
        left: -122px;
        top: -120px;
        width: 545px;
        height: 545px;
        @include background-image(radial-gradient(rgba(247,234,2,.4) 18%, rgba(247,234,2,0) 68%));
    }
    img {
        position: relative;
        z-index: 2;
        margin-top: 10px;
        display: inline-block;
        vertical-align: middle;
    }
}
.new-prod__info {
    overflow: hidden;
    font-size: 18px;
    padding-top: 30px;
    @include r;
    strong {
        @include b;
    }
    ul {
        margin-top: 33px;
    }
    li {
        margin-bottom: -3px;
    }
}
.new-prod__title {
    margin-bottom: 4px;
    color: #feed03;
    font-size: 27px;
    font-weight: normal;
}

.scroll-tabs {
    position: relative;
    z-index: 2;
    margin-bottom: 31px;
    li {
        position: relative;
        display: inline-block;
        margin-right: -4px;
        padding: 15px 22px;
        font-size: 14px;
        font-family: Verdana, sans-serif;
        text-align: center;
        color: #fefdcc;
        cursor: pointer;
        text-align: center;
        background: #005e23;
        vertical-align: top;
        border-left: 1px solid #06863d;
        border-bottom: 1px solid #06863d;
        @include box-shadow(inset 1px 0 0 #014918, 0 1px 0 #014918);
        &:first-child {
            border-left: 0;
            @include box-shadow(0 1px 0 #014918);
            @include border-radius(10px 0 0 10px);
            padding-left: 22px !important;
        }
        &:last-child {
            @include border-radius(0 10px 10px 0);
        }
    }
    span {
        display: block;
    }
    .is-active {
        color: #ffed03;
        padding-left: 23px;
        border-left: 0;
        @include box-shadow(inset 2px 0 0 #014918, 0 1px 0 #014918);
        &:after {
            content: "";
            position: absolute;
            bottom: -17px;
            left: 50%;
            margin-left: -24px;
            @include sized-sprite($icons, arr3);
        }
    }
} 

.products {
    padding: 46px 0 99px;
}

.scroll-prod-wrap {
    display: none;
    position: relative;
}
.scroll-prod {
    //float: left;
    float: none;
    position: relative;
    padding-top: 17px;
    margin: 0 auto -40px;
    width: 690px;
    height: 255px;
    overflow: hidden;
}
.scroll-prod__main {
    position: absolute;
    width: 2000em;
    top: 17px;
    .is-active {
        z-index: 2;
        &:before { 
            content: "";
            position: absolute;
            left: -68px;
            bottom: -48px;
            z-index: 3;
            width: 230px;
            height: 200px;
            @include background-image(radial-gradient(rgba(247,234,2,.9) 18%, rgba(94,171,40,0) 68%));
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -28px;
            left: 50%;
            margin-left: -24px;
            @include sized-sprite($icons, arr4);
        }
    }
    .icon-new {
        position: absolute;
        top: -16px;
        right: -20px;
        z-index: 5;
        @include sized-sprite($icons, new);
    }
}
.scroll-prod__item {
    position: relative;
    float: left;
    margin-right: 20px;
    cursor: pointer;
    img {
        position: relative;
        z-index: 4;
    }
}
.prod-nav {
    position: absolute;
    border: 0;
    top: 52px;
} 
.prod-prev {
    left: 90px;
    @include sized-sprite($icons, prev);
}
.prod-next {
    right: 90px;
    @include sized-sprite($icons, next);
}

.prod-mix {
    position: relative;
    z-index: 2;
    float: right;
    margin: 16px 20px 0 0;
    width: 160px;
    text-align: center; 
    div {
        margin: 0 auto;
        width: 80%;
    }
    a {
        color: #9ecb3a;
        font-size: 14px;
        font-family: Verdana,sans-serif;
    }
}
.scroll-message {
    clear: both;
    position: relative;
    padding: 20px 65px 29px 38px;
    background: #00732c;
    border: 2px solid #26ba00;
    @include border-radius(7px);
    color: #fefdcc;
    font-size: 18px;
    font-family: Verdana,sans-serif;
    line-height: 1.2;
    ul {
        float: right;
        width: 45%;
    }
}
.scroll-message__info {
    float: left;
    width: 50%;
}

.content-outer {
    padding-bottom: 82px;
    position: relative;
    background: #fff;
}
.line-4 {
    position: absolute;
    left: 0;
    top: -46px;
    right: 0;
    width: 100%;
    height: 46px;
    background: url(../img/line4.png) 50% 0 repeat-x;
}
.content {
    overflow: hidden;
    margin: 0 auto;
    padding-top: 10px;
    width: 980px;
    color: #003d20;
    font: normal 14px Verdana,sans-serif;
    h1 {
        margin: 32px 0 10px;
        font-size: 36px;
        @include r;
    }
    h2 {
        margin: 20px 0 15px; 
        color: #037a39;
        font-size: 18px;
    }
    p {
        margin-bottom: 7px;
    }
    ul{
        margin-bottom: 7px;
        padding-left: 10px;
    }
    li{
        position: relative;
        &:before{
            position: absolute;
            top: 0;
            left: -10px;
            content: "-";
        }
    }
    img {
        margin: 30px 0;
        @include border-radius(7px);
        @include box-shadow(0 2px 3px rgba(0,61,32,.3));
    }
}
.equal-col {

}
.equal__col-left {
    float: left;
    width: 50%;
}
.equal__col-right {
    float: right;
    width: 48%;
}

.video-scroll-wrap {
    position: relative;
    padding-bottom: 50px;
    .disabled {
        display: none;
    }
}
.video-nav {
    position: absolute;
    top: 54px;
}
.video-nav_prev {
    left: 0;
    @include sized-sprite($icons, prev2);
}
.video-nav_next {
    right: 0;
    @include sized-sprite($icons, next2);
}
.video-scroll {
    position: relative;
    margin: 0 auto; 
    width: 862px; 
    height: 230px;
    overflow: hidden;
}
.video-scroll__wrap {
    position: absolute;
    top: 0;
    width: 2000em;
    .video-preview {
        float: left;
        margin-right: 25px;
    }
}


.program-section{
    position: relative;
    padding: 77px 0 3px;
}
.prog-ban-img {
    position: relative;
    float: left;
    border: 1px solid #017237;
    @include border-radius(7px);
    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -27px;
        width: 100%;
        height: 30px;
        @include border-radius(50%);
        @include background-image(radial-gradient(rgba(0,0,0,.3) 18%, rgba(0,0,0,0) 68%));
    } 
    img {
        display: block;
        @include border-radius(5px);
    }
}
.prog-ban_mod {
    float: right;
    width: 590px;
    font-size: 18px;
    @include r;
    color: #fefdcc;
    .funny-btn_s {
        margin-right: 90px;
    }
    .prog-ban__title {
        margin-bottom: 5px;
        font-size: 35px;
        strong {
            font-size: 58px;
        }
    }
}
.prog-ban__quest {
    display: block;
    margin-bottom: 24px;
    color: #feed03;
    font-size: 27px;
    font-weight: normal;
}
.prog-ban__col {
    float: left;
    width: 260px;
    margin: 0 50px 22px 0;
    strong {
        display: block;
        margin-bottom: 9px;
        @include b;
    }
}
.prog-ban__col-right {
    margin-right: 0;
}
.experts-wrap {
    .wrapper {
        padding: 35px 0;
    }
}
.expert {
    float: left;
    margin-right: 15px;
    width: 311px;
    .benefit {
        display: inline-block;
        float: none;
        margin-bottom: 29px;
        img {
            display: block;
            @include border-radius(45px);
        }
    }
}
.expert__text {
    padding: 0 10px 0 30px;
    font-size: 14px;
    color: #fefdcc;
    font-family: Verdana, sans-serif;
    strong {
        color: #d5f390;
        font-size: 18px;
    }
    p {
        font-style: normal;
    }
}
.gifts-wrap {
    margin-right: -30px;
    padding-top: 10px;
    overflow: hidden;
}
.gift {
    float: left;
    width: 310px;
    margin-right: 24px;
    color: #23292d;
}
.gift__title {
    color: #003d20;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.gift__img {
    position: relative;
    display: block;
    margin: 22px 0 30px;
    width: 310px;
    height: 132px;
    overflow: hidden;
    @include border-radius(7px);
    @include box-shadow(0 2px 3px rgba(0,61,32,.3));
    &:hover {
        @include transition(all .5s ease-in-out);
        @include translate(0, -10px);
    }
    img { 
        display: block;
        @include border-radius(7px);
    }
}
.gift__price {
    position: absolute;
    bottom: 15px; 
    right: 0;
    padding: 7px 30px 7px 13px;
    color: #fff;
    font-size: 13px; 
    line-height: 1;
    background: #168244;
    background: rgba(22,130,68,.7);
    @include border-radius(4px 0 0 4px);
    strong {
        display: block;
        font-size: 17px;
    } 
}

.begin-course {
    padding-top: 40px;
    font-size: 18px;
    color: #0a4525;
    text-align: center;
    .funny-btn {
        margin-bottom: 20px;
    }
    span {
        display: block;
        font-style: italic;
    }
}

.step {
    padding-top: 45px;
    overflow: hidden;
    li {
        position: relative;
        float: left;
        margin-right: 60px;
        padding: 0 0 0 23px;
        height: 100px;
        line-height: 100px;
        background: #036f35;
        border-bottom: 1px solid rgba(29,103,46,1);
        @include box-shadow(inset 0 -1px 0 #048a42);
        &:after,
        &:before {
            content: "";
            position: absolute;
            top: 0;
        }
        &:after {
            right: -50px;
            @include sized-sprite($icons, corner-step);    
        }
        &:before {
            left: -46px;
            @include sized-sprite($icons, corner2-step);    
        }
    }
    .step__3 {
        margin-right: 0;
    }
}
.step__number {
    display: inline-block;
    margin-right: 15px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 30px;
    font-family: Verdana,sans-serif;
    text-align: center;
    @include border-radius(50%);
    background: #03873a;
    color: #ffed03;
    border: 2px solid;
    text-shadow: 1px 1px 0 rgba(0,0,0,.8);
    vertical-align: middle;
}
.step__text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.4;
    color: #ffed03;
    font-family: Verdana,sans-serif;
}
.step__1 {
    width: 300px;
    &:before {
        display: none;    
    }
    .step__text {
        width: 185px;
    }
} 
.step__2 {
    width: 186px;
    .step__text {
        width: 110px;
    }
} 
.step__3 {
    width: 295px;
    &:after {
        display: none;
    }
    .step__text {
        width: 216px;
    }
} 

.common-wrap {
    padding: 30px 0 80px;
}
.scroll-tabs_shop {
    li {
        padding: 0;
        width: 20%; 
        height: 58px;
        line-height: 58px;
        text-align: center;
        &:first-child {
            padding-left: 0 !important;
        }
    }
    .is-active {
        padding-left: 1px;
        .icon-1 {@include sized-sprite($icons, i1-h);}
        .icon-2 {@include sized-sprite($icons, i2-h);}
        .icon-3 {@include sized-sprite($icons, i3-h);}
        .icon-4 {@include sized-sprite($icons, i4-h);}
        .icon-5 {@include sized-sprite($icons, i5-h);}
    }
    i, span {
        display: inline-block;
        vertical-align: middle;
    }
    i {
        margin-right: 8px;
    }
    .icon-1 {@include sized-sprite($icons, i1);}
    .icon-2 {@include sized-sprite($icons, i2);}
    .icon-3 {@include sized-sprite($icons, i3);}
    .icon-4 {@include sized-sprite($icons, i4);}
    .icon-5 {@include sized-sprite($icons, i5);}
} 

.scroll-shop {
    display: none;
    position: relative;
    padding: 10px 0 30px;
    .prod-nav {
        top: 114px;
    }
    .prod-prev {
        left: 30px;
    }
    .prod-next {
        right: 30px;
    }
}
.scroll-nav {
    position: absolute;
    top: -14px;
    right: 90px;
}
.scroll-shop__wrap {
    position: relative;
    width: 795px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}
.scroll-shop__items {
    position: absolute;
    top: 0;
    width: 2000em;
}
.slide {
    position: relative;
    float: left;
    width: 793px;
    height: 350px;
    background: #036f35;
    border: 1px solid rgba(0,71,38,.3);
    @include border-radius(5px);
    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -30px;
        width: 100%;
        height: 30px;
        @include border-radius(50%);
        @include background-image(radial-gradient(rgba(0,0,0,.2) 18%, rgba(0,0,0,0) 68%));
    }
}
.slide__img {
    position: relative;
    float: left;
    margin-right: 40px;
    img {
        display: block;
    }
    span {
        position: absolute;
        right: 0;
        bottom: 12px;
        padding: 0 21px 0 18px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        background: rgb(25,117,67);
        background: rgba(25,117,67,.9);
        @include border-radius(4px 0 0 4px);
    }
}
.slide__main {
    position: relative;
    overflow: hidden;
    height: 350px;
    @include r;
    .funny-btn {
        position: absolute;
        bottom: 25px;
        left: 60px;
        padding: 0 45px;
        height: 52px;
        line-height: 52px;
        &:after {
            display: none;
        }
    }
}
.slide__price {
    position: absolute;
    top: -68px;
    right: -44px;
    width: 155px;
    height: 155px;
    background: #ffed03;
    @include border-radius(50%);
    @include box-shadow(0 5px 5px rgba(0,0,0,.3)); 
    font-size: 21px;
    color: #036f35;
    line-height: 1;
    span {
        position: absolute;
        bottom: 0;
        left: 0;
        bottom: 18px;
        left: 25px;
        text-align: right;
    }
    strong {
        display: block;
        font-size: 42px;
        font-weight: normal;
    }
}
.slide__title {
    padding: 28px 110px 33px 0;
    font-size: 40px;
    line-height: 1;
    strong {
        display: block;
        @include b;
    }
}
.slide__descr {
    color: #d5f390;
    font-size: 30px;
}
.banner-link {
    display: block;
    overflow: hidden;
    @include border-radius(5px);
    @include box-shadow(0 2px 3px rgba(0,61,32,.3));
    img {
        display: block;
        @include border-radius(5px);
    }
}
.action-wrap {
    margin: 40px -40px 0 0;
}
.action {
    float: left;
    margin: 0 30px 40px 0;
    width: 460px;
    overflow: hidden;
    @include border-radius(7px);
    @include transition(all .5s ease-in-out);
    @include box-shadow(0 2px 3px rgba(0,61,32,.3));
    &:hover {
       @include box-shadow(none); 
    }
    img {
        margin: 0;
        @include box-shadow(none);
        @include border-radius(0);
    }
}
.action__img {
    position: relative;
    overflow: hidden;
    display: block;
    img {
        display: block;
    }
    span {
        position: absolute;
        right: 0; 
        top: 10px;
        padding: 0 30px 0 25px;
        height: 45px;
        line-height: 45px;
        font-size: 13px;
        color: #fff;
        background: rgb(22,98,52);
        background: rgba(22,98,52, .8);
        @include border-radius(4px 0 0 4px);
        strong {
            font-size: 17px;
            font-family: Verdana,sans-serif;
        }
    }
    .action__quant {
        top: auto;
        bottom: 10px;
    }
}

.action__bottom {
    position: relative;
    background: #d5f390;
    overflow: hidden;
}
.action__text {
    padding-left: 130px;
    color: #036f35;
    line-height: 1;
    font-size: 20px;
    height: 65px;
    line-height: 65px;
    @include r;
    span {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
    }
    strong {
        @include b;
    }
}
.action__logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 65px;
    line-height: 65px;
    width: 105px;
    text-align: center;
    background: #eefad3;
    &:hover {
        background: #fff;
        &:after {
            @include sized-sprite($icons, corner3-h);
        }
    }
    &:after {
        content: "";
        position: absolute;
        right: -16px;
        top: 0;
        @include sized-sprite($icons, corner3);
    }
} 


// Profile
.sidebar {
    padding-left: 12px;
    width: 276px;
    float: left;
}
.main-col {
    float: right;
    width: 666px; // YEAH!!!
}
.user-img {
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -22px;
        width: 100%;
        height: 20px;
        @include background-image(radial-gradient(rgba(0,0,0,.2) 18%, rgba(0,0,0,0) 68%));
    } 
    img {
        display: block;
        @include border-radius(5px);
        border: 1px solid #017237;
    }
    strong {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 3px 0;
        color: #fefdcc;
        @include b;
        background: #01843e;
        background: rgba(0,132,62,.6);
        border: 1px solid #017237;
        border-top: 0;
        @include border-radius(0 0 5px 5px);
    }
    span {
        display: block;
    }
}
.user-info {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 250px;
    text-align: center;
    // &:before,
    // &:after {
    //     content: "";
    //     position: absolute;
    //     bottom: 0;
    //     background: #000;
    //     width: 100px;
    //     height: 300px;
    //     //@include box-shadow(0 2px 9px rgba(3,94,48,.43));
    // }
    // &:before {
    //     left: -5px;
    //     @include rotate(2)
    // }
    // &:after {
    //     right: -14px;
    //     @include rotate(-2)
    // }
    .funny-btn {
        @include box-shadow(0 2px 9px rgba(3,94,48,.43), inset 0 -1px 0 rgba(255,255,255,.29));
        &:after {
            display: none;
        }
    }
    .wrapper {
        margin: 23px 0;
        border-top: 1px dotted #deebad;
        border-bottom: 1px dotted #deebad;
    }
    .btn-green {
        float: right;
        margin-top: 29px;
    }
}
.user-info__top {
    position: absolute;
    left: -12px;
    top: -3px;
    width: 287px;
    height: 8px;
    @include border-radius(4px);
    background: #103b08;
    @include box-shadow(0 1px 0 #57a342);
}
.user-info__wrap {
    position: relative;
    z-index: 2;
    padding: 22px 5px;
    width: 250px;
    background-color: #015f2d;
    @include box-shadow(2px 2px 7px rgba(0,0,0,.17));
    @include background-image(linear-gradient(bottom, #99c93b 0%, #55a141 98.63%, #165706 100%));
}
.user-info__title {
    display: block;
    margin-bottom: 20px;
    font-size: 26px;
    @include r;
    line-height: 1;
}
.user-info__day {
    text-align: center;
    line-height: 1;
    strong {
        display: block;
        font-size: 92px;
        font-weight: bold;
        text-shadow: 0 -1px 0 rgba(18,83,22,.5);
    }
    span {
        font-size: 26px;
        @include r;
    }
}
.user-info__place {
    float: left;
    padding: 12px 0 14px 15px; 
    text-align: left;
    line-height: 1;
    strong,span {
        vertical-align: top;
    }
    strong {
        @include b;
        font-size: 30px;
    }
    span {
        @include r;
        font-size: 18px;
    }
    div {
        span {
            display: inline-block;
            padding: 2px 7px;
            color: #fff456;
            font-size: 14px;
            font-family: Arial,sans-serif;
            background: #72b23e;
            @include border-radius(7px);
        }
    }
}
.user-info__soc {
    color: #1e620f;
    font-size: 19px;
    text-align: center;
    .soc {
        margin-top: 12px; 
    }
}

.prof {
    background: #009a2a;
    overflow: hidden;
    @include border-radius(7px);
}
.prof__top {
    height: 42px;
    border-bottom: 2px solid #fff600;
}
.prof-tab {
    float: left;
    height: 42px;
    background: #21ab3d;
    @include border-radius(7px 7px 0 0);
    .is-active {
        //padding-bottom: 2px;
        color: #1a8845;
        background: #f7ffe4;
        border: 2px solid #fff600;
        border-bottom: 0;
        height: 42px;
        line-height: 42px;
        text-shadow: 0 1px 0 rgba(18,83,22,.44);
        @include border-radius(7px 7px 0 0);
        @include box-shadow(5px 0 7px -5px rgba(0,0,0,.3),-5px 0 7px -5px rgba(0,0,0,.3));
    }
    li {
        display: inline-block;
        vertical-align: top;
        padding: 0 27px;
        height: 44px;
        line-height: 44px;
        color: #f3ffd7;
        cursor: pointer;
        font-size: 16px;
        text-shadow: 0 -1px 0 rgba(18,83,22,.44);
        @include border-radius(7px 7px 0 0);
        @include box-shadow(3px 0 7px -2px rgba(0,0,0,.2));
    }
}
.prof__settings {
    float: right;
    margin: 9px 14px 0 0;
    @include sized-sprite($icons, set);
}
.prof__main {
    padding: 12px 0;
    background: #f7ffe4;
    border: 2px solid #fff600;
    border-top: 0;
}
.tab-cont {
    display: none;
}
.news {
    padding: 0 21px 0 27px;
    li {
        padding: 17px 0 15px;
        overflow: hidden; 
        border-top: 1px dotted #85b773;
        &:first-child {
            border-top: 0;
        }
    }
}
.news__img { 
    float: left;
    margin-right: 22px;
    text-decoration: none;
    img {
        display: block;
        @include border-radius(10px);
        @include box-shadow(0 2px 0 rgba(110,179,83,.75));
        &:hover {
            @include box-shadow(none);
            @include transition(all .3s ease-in-out);
        }
    }
}
.news__img_round {
    img {
        @include border-radius(50%);
        @include box-shadow(0 2px 5px rgba(0,0,0,.2));
    } 
}
.news__main {
    float: left;
    padding-top: 10px;
    width: 350px;
    color: #8a9287;
    font-size: 13px;
    p {
        margin-bottom: 5px;
    }

    .mark {
        font: normal 11px/1 Verdana,sans-serif;
        strong {
            display: block;
            margin-bottom: -2px;
            @include b;
            color: #93c72f;
            font-size: 25px;
        }
    }
}
.news__title {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #23292d;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.news__date {
    float: right;
    padding-top: 10px;
    color: #07873f;
    font-size: 12px;
}
.loading {
    display: block;
    margin: 29px auto;
    background: url(../img/icons/loading.gif) no-repeat;
    width: 32px;
    height: 32px;
}

.achieve {
    padding: 0 2px;
}
.achieve__top {
    margin-bottom: 26px;
    padding: 10px 5px 15px 11px;
    @include r;
    color: #23292d;
    font-size: 18px;
    border-bottom: 1px dotted #85b773;
    strong {
        font-size: 26px;
    }
}
.badge-wrap {
    overflow: hidden;
    text-align: center;
    a {
        display: inline-block;
        margin: 0 37px 18px 0;
        @include transition(all 1000ms ceaser($easeInOutBack));
        &:hover {
            @include rotate(100);
        }
    }
}
// .badge-1 {@include sized-sprite($badges, img_1);}
// .badge-2 {@include sized-sprite($badges, img_2);}
// .badge-3 {@include sized-sprite($badges, img_3);} 
// .badge-4 {@include sized-sprite($badges, img_4);}
// .badge-5 {@include sized-sprite($badges, img_5);}
// .badge-6 {@include sized-sprite($badges, img_6);}
// .badge-7 {@include sized-sprite($badges, img_7);}
// .badge-8 {@include sized-sprite($badges, img_8);}
// .badge-9 {@include sized-sprite($badges, img_9);}

$i: 1;
    @while $i < 18 {
        .badge-#{$i} {@include sized-sprite($badges, img_#{$i});}
    $i: $i + 1;
}
