@import "base";

.ask-question{}
//funny-btn_small
.funny-btn_small{
    padding: 0 47px;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
}

    //funny-btn_small_s
    .funny-btn_small_s{
        padding: 0 37px;
        height: 33px;
        line-height: 33px;
        font-size: 16px;
    }


//experts
.experts{
    margin: -56px 0 36px 0;
    padding: 73px 30px 0 78px;
    background: #f7ffe4;
    border: 2px solid #fff600;
    border-top: 0;
    @include border-radius(0 0 7px 7px);
    color: #000;
}
    //speech
    .experts-speech{
        overflow: hidden;
        margin: 0 0 80px 6px;
    }
        .experts-speech__media{
            float: left;
            width: 120px;
            margin-right: 20px;
            img{
                min-height: 120px;
                max-width: 120px;
                @include border-radius(15px);
            }
        }
        .experts-speech__info{
            float: left;
            padding-top: 9px;
        }
            .experts-speech__text{
                font-size: 16px;
                color: #23292c;
                margin: 0 0 28px 4px;
                line-height: 1.3;
            }

    //list
    .experts-list{
        li{
            display: inline-block;
            width: 30%;
            margin: 0 0 57px 17px;
            &:first-child{
                margin-left: 0;
            }
        }
    }
            .experts-list__media{
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -25px;
                    width: 100%;
                    height: 30px;
                    @include border-radius(50%);
                    @include background-image(radial-gradient(rgba(0,0,0,.2) 18%, rgba(0,0,0,0) 68%));
                }
                img{
                    min-height: 233px;
                    max-width: 257px;
                }
            }
                .experts-list__inner{
                    overflow: hidden;
                    position: relative;
                    width: 257px;
                    height: 233px;
                    margin-bottom: 37px;
                    @include border-radius(38px);
                }
                .experts-list__more{
                    position: absolute;
                    top: 169px;
                    right: 0;
                    z-index: 10;
                    background-color: rgba(1, 131, 62, 0.8);
                    @include border-radius(10px 0 0 10px);
                    padding: 5px 28px 11px;
                    line-height: 1;
                    h3{
                        font-size: 18px;
                        color: #fff;
                        font-weight: normal;
                        margin-bottom: 0.1em;
                    }
                    a{
                        font-size: 14px;
                        color: #d5f390;
                    }
                }
            .experts-list__about{
                font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
                color: #036f35;
                padding: 0 20px;
            }
                .experts-list__title{
                    font-size: 18px;
                    margin-bottom: 0.2em;
                }
                .experts-list__caption{
                    margin-bottom: 23px;
                    font-size: 14px;
                }
                .experts-list__ask-questions{
                    text-align: center;
                }


//prof
.prof__questions{
    position: relative;
    float: right;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 6px 23px 0 0;
    font-size: 16px;
    color: #fefdcc;
    text-decoration: none;
    @include border-radius(14px);
    @include background-clip(padding-box);
    background-color: #f00;
    @include box-shadow(0 2px 9px rgba(3,94,48,.43), inset 0 -1px 0 rgba(255,255,255,.29));
    @include background-image(linear-gradient(bottom, #01833d 0%, #55a341 100%));
    i{
        position: absolute;
        top: 6px;
        left: 14px;
        content: "";
        @include sized-sprite($icons, user_ico);
    }
    a{
        display: inline-block;
        padding: 0 18px 0 42px;
        height: 100%;
        font-size: 16px;
        color: #fefdcc;
        text-decoration: none;
    }
    .notice{
        position: absolute;
        top: -2px;
        left: 25px;
    }
}


.notice{
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    @include border-radius(3px);
    @include background-clip(padding-box);
    background-color: #f00;
    a{
        display: inline-block;
        vertical-align: middle;
        height: 16px;
        line-height: 16px;
        padding: 0 2px;
        color: #fff;
        font-size: 10px;
        text-decoration: none;
    }
}


//questions
.questions{
    margin: 24px 30px 36px;
    color: #000;
    li{
        //padding-right: 30px;
        @extend %clr;
        border: 2px solid #97d67e;
        margin-bottom: 18px;
        @include border-radius(10px);
        @include background-clip(padding-box);
    }
}
    .questions__media,
    .questions__text,
    .questions__user{
        float: left;
    }
    .questions__media{
        margin-top: 25px;
        margin-right: 25px;
        width: 92px;
        min-height: 114px;
        .bubble_tick{
            margin-bottom: 6px;
        }
        .comments{
            margin-left: 24px;
        }
    }
        .questions__media_alt{
            width: 240px;
            margin-top: 0;
            overflow: hidden;
            img{
                display: block;
                max-width: 240px;
                min-height: 143px;
                @include border-radius(7px 0 0 7px);
            }
        }
    .questions__text{
        width: 545px;
        font-size: 16px;
        margin: 23px 0 28px;
        line-height: 1.3;
    }
        .questions__text_alt{
            width: 400px;
            .comments{
                margin-top: 45px;
            }
        }
    .questions__user{
        width: 217px;
        margin-top: 23px;
    }
        .questions__userinfo{
            float: left;
            width: 147px;
            font-size: 13px;
            text-align: right;
            font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
        }
            .questions__username{
                color: #8a9287;
                font-weight: bold;
                text-decoration: none;
            }
            .questions__trade{
                color: #07873f;
                font-weight: bold;
            }
            .questions__date{
                font-size: 12px;
                color: #07873f;
            }
        .questions__userpic{
            float: right;
            width: 50px;
            margin-top: 7px;
            margin-left: 20px;
            overflow: hidden;
            img{
                min-height: 50px;
                max-width: 50px;
                @include border-radius(7px);
            }
        }
    .questions__more{
        text-align: center;
        margin-top: 30px;
    }

    .bubble_tick{
        position: relative;
        @extend %clr;
    }
        .tick{
            @include sized-sprite($icons, tick_ico);
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -15px;
            margin-top: -17px;
            margin: -17px 0 0 -15px;
            content: "";
            &.inactive{
                @include sized-sprite($icons, tick_inactive_ico);
            }
        }
    .comments{
        position: relative;
        display: inline-block;
        height: 21px;
        line-height: 21px;
        @include border-radius(10px);
        @include background-clip(padding-box);
        background-color: #7bb727;
        text-align: center;
        a{
            display: inline-block;
            height: 21px;
            line-height: 21px;
            vertical-align: middle;
            font-size: 14px;
            color: #fff;
            text-decoration: none;
            width: 54px;
            //padding: 0 20px;
        }
        &:before{
            @include sized-sprite($icons, comments_arr);
            position: absolute;
            top: -5px;
            left: 9px;
            content: "";
        }
    }

    .over{
        float: right;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-top: 26px;
        padding: 0 22px 0 43px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        color: #fefdcc;
        text-decoration: none;
        @include border-radius(14px);
        @include background-clip(padding-box);
        background-color: #f00;
        @include box-shadow(0 2px 9px rgba(3,94,48,.43), inset 0 -1px 0 rgba(255,255,255,.29));
        @include background-image(linear-gradient(bottom, #4cb04a 0%, #60e15c 100%));
        i{
            @include sized-sprite($icons, over_arr);
            position: absolute;
            top: 10px;
            left: 15px;
        }
    }
//club
.club{
    width: 900px;
    margin: 0 auto;
    padding: 46px 0 99px;
}
//club__nav
.club__nav{
    position: relative;
    left: 0;
    //margin-left: -452px;
    display: inline-block;
    text-align: center;
    @include background-image(linear-gradient(bottom, #27953d 0%, #5fa73a 100%));
    @include border-radius(15px);
    border-bottom: 1px solid #004216;
    margin-bottom: 20px;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -20px;
        height: 20px;
        width: 100%;
        @include background-image(radial-gradient(rgba(0,0,0,.1) 18%, rgba(0,0,0,0) 68%));
    }
    li{
        position: relative;
        width: 179px;
        float: left;
        border-right: 1px solid #3b812c;
        &:last-child{
            border-right: 1px solid transparent;
        }
        &.is-active{
            @include background-image(linear-gradient(bottom, #4b9e40 0%, #8fc33b 100%));
            border-right: 1px solid #44882e;
            &:last-child{
                border-right: 1px solid transparent;
            }
            &:first-child{
                @include border-radius(15px 0 0 15px);
            }
            &:last-child{
                @include border-radius(0 15px 15px 0);
            }
            &:before{
                z-index: 2;
                content: "";
                position: absolute;
                left: 50%;
                margin-left: -30px;
                bottom: -18px;
                height: 10px;
                width: 60px;
                @include background-image(radial-gradient(rgba(0,0,0,.2) 18%, rgba(0,0,0,0) 68%));
            }
            &:after{
                position: absolute;
                //z-index: 1;
                left: 50%;
                margin-left: -50px;
                bottom: -15px;
                content: "";
                @include sized-sprite($icons, clubnav_arr);
            }
        }
    }
    a{
        display: inline-block;
        width: 100%;
        color: #f2ffd7;
        text-decoration: none;
        &:hover{
            color: #ffe500;
        }
    }
    .club__nav-image{
        display: inline-block;
        margin: 15px 0;
        img{
            display: block;
            @include border-radius(15px);
            max-width: 100px;
            min-height: 100px;
        }
    }
    .club__nav-title{
        color: #f2ffd7;
        font-size: 13px;
        @include text-shadow(0 1px 0 rgba(18,83,22,.44));
        margin-bottom: 17px;
        &:hover{
            color: #ffe500;
            text-decoration: none;
        }
    }
}

    .title-l-3{
        @include b;
        font-size: 39px;
        color: #feed03;
        text-align: center;
    }

    .club__subtitle{
        font-weight: bold;
        text-align: center;
        color: #fdfdcb;
        font-size: 24px;
        margin-bottom: 32px;
        p{
            margin-top: 10px;
            font-size: 20px;
            color: #9fd981;
            font-weight: normal;
        }
    }

    .club__guide{
        display: inline-block;
        margin-top: 60px;
        margin-bottom: 70px;
        li{
            float: left;
            font-size: 50px;
            color: #fdfdcb;
            margin-left: 45px;
            &:first-child{
                margin-left: 0;
            }
        }
        img{
            display: block;
        }
    }
    .club__guide-title{
        font-size: 20px;
        color: #fdfdcb;
        height: 56px;
        display: inline-block;
        vertical-align: top;
    }
    .club__guide-item-1{
        width: 290px;
    }
    .club__guide-item-2,
    .club__guide-item-3{
        text-align: center;
        width: 176px;
    }
    .club__guide-item-1,
    .club__guide-item-4{
        .club__guide-title{
            line-height: 56px;
            vertical-align: bottom;
        }
    }
    .club__guide-item-4{
        text-align: center;
        width: 114px;
    }
//atext_club
.atext_club{
    padding: 20px 35px;
}
    .club__text-title{
        color: #003d20;
        position: relative;
        text-align: center;
        margin-bottom: 30px;
        &:after{
            position: absolute;
            left: 50%;
            margin-left: -196px;
            bottom: -15px;
            content: "";
            @include sized-sprite($icons, atextclub);
        }
    }
    .club__text-raise{
        color: #003d20;
        text-align: center;
        margin-bottom: 27px;
        span{
            margin: 0 5px;
            padding: 0 27px;
            display: inline-block;
            @include border-radius(24px);
            @include background-clip(padding-box);
            background-color: #01833d;
            color: #fff238;
            font-size: 20px;
            font-style: italic;
            height: 50px;
            line-height: 50px;
            vertical-align: middle;
        }
    }
    .club__text-guide{
        @extend %clr;
        margin-bottom: 60px;
        li{
            padding: 10px 0;
            width: 249px;
            float: left;
            margin-left: 39px;
            @include border-radius(15px);
            @include background-image(linear-gradient(bottom, #9ac93b 0%, #55a242 100%));
            @include box-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
            &:first-child{
                margin-left: 0;
            }
        }
    }
        .club__text-heading{
            vertical-align: middle;
            text-align: center;
            padding: 0 10px;
            font-size: 16px;
            color: #fefdcc;
            font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
            font-style: italic;
            height: 105px;
            img{
                margin-top: 5px;
            }
            &.club__text-heading_alt{
                margin-top: 25px;
                margin-bottom: -25px;
            }
        }
        .club__text-info{
            @include background-image(linear-gradient(bottom, #eefad3 0%, #ebf8d4 100%));
            @extend %clr;
            padding: 7px 0;
            img{
                vertical-align: top;
            }
        }
            .club__text-info_left{
                text-align: right;
                width: 72px;
                margin-right: 7px;
                display: inline-block;
                vertical-align: middle;
            }
            .club__text-info_right{
                color: #006536;
                font-size: 16px;
                width: 164px;
                display: inline-block;
                vertical-align: middle;
                //text-align: center;
            }
    .club__text-extra{
        border: 2px solid #97d67e;
        @include border-radius(10px);
        @include background-clip(padding-box);
        padding: 8px 28px;
    }
        .club__text-extra_title{
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
            margin-right: 20px;
        }
        .club__text-extra_right,
        .club__text-extra_left{
            display: inline-block;
            vertical-align: middle;
            .club__text-extra_image{
                margin-right: 20px;
                img{
                    vertical-align: top;
                }
            }
        }
        .club__text-extra_left{
            position: relative;
            &:after{
                @include sized-sprite($icons, extrabrd);
                position: absolute;
                top: -2px;
                right: 5px;
                content: "";
                }
        }

            .club__text-extra_image{
                display: inline-block;
                vertical-align: middle;
                img{
                    vertical-align: top;
                }
            }
            .club__text-extra_info{
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
                margin-right: 15px;
            }
            .club__text-extra_download{
                display: inline-block;
                vertical-align: middle;
                padding: 0 18px;
                height: 50px;
                line-height: 50px;
                @include border-radius(5px);
                @include background-image(linear-gradient(bottom, #76b43f 0%, #4e8d3d 100%));
                @include box-shadow(2px 2px 8px rgba(0, 0, 0, 0.3));
                li{
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    margin-left: 40px;
                    font-size: 11px;
                    a{
                        color: #fff;
                    }
                    &:first-child{
                        margin-right: 10px;
                    }
                }
                i{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -40px;
                    margin-top: -22px;
                }
            }

            .content_club{
                margin: 0 auto;
                padding-top: 10px;
                width: 620px;
                color: #003d20;
                font: normal 14px Verdana,sans-serif;
            }
            .content_club-info{
                float: left;
                width: 290px;
                color: #50a94e;
                font-size: 44px;
                @include r;
                margin-top: 85px;
                span{
                    font-size: 64px;
                    text-align: right;
                    display: block;
                }
            }
            .content_club-media{
                float: right;
                position: relative;
                width: 304px;
                @include r;
                font-size: 36px;
                color: #fff;
                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -25px;
                        width: 100%;
                        height: 30px;
                        @include border-radius(50%);
                        @include background-image(radial-gradient(rgba(0,0,0,.2) 18%, rgba(0,0,0,0) 68%));
                    }
                .content_club-mediatext{
                    padding: 5px 0;
                    position: absolute;
                    bottom: 9px;
                    left: 0;
                    text-align: center;
                    background-color: rgba(1,111,53,.8);
                    @include border-radius(0 0 10px 10px);
                    a{
                        color: #fff;
                    }
                }
            }

.codepage{
    color: #000;
    padding: 0 21px 0 27px;
}
    .codepage__top{
        overflow: hidden;
        em{
            color: #8a9287;
            font-size: 14px;
            font-style: normal;
        }
        strong{
            color: #23292d;
            font-size: 50px;
            font-weight: normal;
            @include r;
        }
    }
    .codepage__yourcode{
        padding-top: 11px;
        position: relative;
        float: left;
        width: 43%;
        text-align: right;
        &:after{
            position: absolute;
            top: 0;
            right: -30px;
            content: "";
            @include sized-sprite($icons, codearr);
        }
    }
    .codepage__yourscore{
        float: right;
        width: 48%;
        strong{
            color: #93c72f;
            font-size: 25px;
            @include b;
        }
        p{
            margin-bottom: 10px;
        }
    }

.codepage__entercode{
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    font-family: Verdana;
    color: #e6f9bb;
    font-size: 15px;
    display: inline-block;
    height: 69px;
    line-height: 69px;
    vertical-align: middle;
    @include border-radius(5px 0 5px 5px);
    background-color: #036f35;
    @include box-shadow(0 1px 0 rgba(29,103,46,.75),
                inset 0 -1px 0 rgba(239,239,239,.28));
    padding: 0 60px;
    width: 80%;
    a{
        color: #ffee35;
        text-decoration: none;
        border-bottom: 1px dotted #ffee35;
        &:hover{
            border-bottom: 1px dotted transparent;
        }
    }
    &:after{
        position: absolute;
        @include sized-sprite($icons, entercodearr);
        top: -2px;
        right: -2px;
        content: "";
    }
}

    .yourcode{
        font-size: 15px;
        color: #D5EDB5;
        width: 145px;
        @include border-radius(5px);
        background-color: #519535;
        @include box-shadow(inset 1px 1px 1px rgba(24,78,20,.77));
        background-color: #70B74F;
        padding: 4px 10px;
        @include placeholder-color(#D5EDB5);
    }

.codepage__codeinfo{
    @extend %clr;
    li{
        padding: 25px 0;
        position: relative;
        &:before{
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            @include sized-sprite($icons, codelistborder);
        }
    }
}
    .codepage__codemeta{
        width: 124px;
        float: left;
        margin-right: 24px;
        text-align: right;
    }
        .codepage__codemetadata{
            width: 112px;
            @include box-shadow(0 2px 9px rgba(3,94,48,.43), inset 0 -1px 0 rgba(255,255,255,.29));
            @include border-radius(5px);
            margin-left: 11px;
        }
            .codepage__codedate{
                position: relative;
                z-index: 1;
                height: 35px;
                line-height: 35px;
                vertical-align: middle;
                //display: block;
                color: #fefdcc;
                font-size: 16px;
                text-align: center;
                @include border-radius(5px);
                background: #017939;
            }
            .codepage__codetime{
                height: 20px;
                padding-top: 5px;
                //display: inline-block;
                vertical-align: middle;
                text-align: center;
                color: #1e620f;
                font-size: 14px;
                background: #95c63c;
                margin-top: -5px;
                @include border-radius(5px);
            }
    .codepage__codetext{
        overflow: hidden;
        height: 55px;
        line-height: 55px;
        vertical-align: middle;
        display: inline-block;
    }


.club__guideinfo-heading{
    text-align: center;
    h2{
        @include b;
        font-size: 44px;
        color: #feed03;
        text-align: center;
        display: inline-block;
    }
    margin-bottom: 30px;
}

    .club__guideinfo{
        text-align: center;
        margin-bottom: 20px;
        li{
            display: inline-block;
            //width: 50%;
            width: 176px;
            vertical-align: top;
            &:first-child{
                margin-right: 40px;
            }
        }
        .club__guideinfo-title{
            font-size: 20px;
            color: #fefdcc;
        }
        &.club__guideinfo_fat{
            li{
                width: 244px;
            }
            .club__guideinfo-title{
                font-size: 24px;
                color: #fefdcc;
            }
        }
    }

        .selected{
            @include sized-sprite($icons, selected);
            display: inline-block;
            margin-right: 10px;
            position: relative;
            top: 20px;
        }


.exitlight{
    background: #F7FFE7;
    border-radius: 20px;
    padding: 30px 110px 30px 153px;
    border: 2px solid #FCF870;
    font-size: 14px;
    color: #003d20;
    position: relative;
    display: inline-block;
    left: 50%;
    margin-left: -378px;
    margin-bottom: 20px;
    &.enternight{
        padding: 30px 71px 30px 153px;
        width: 460px;
        margin-left: -344px;
    }
}
    .join{
        position: absolute;
        top: -7px;
        left: -7px;
        content: "";
        @include sized-sprite($icons, join);
    }
    .howto{
        position: absolute;
        top: -7px;
        left: -7px;
        content: "";
        @include sized-sprite($icons, howto);
    }

    .exitlight__nothing-special{
        @extend %clr;
        li{
            float: left;
            width: 110px;
            margin-left: 80px;
            text-align: center;
            font-style: italic;
            font-size: 14px;
            font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
            color: #003d20;
            &:first-child{
                margin-left: 0;
            }
        }
    }
    .exitlight__entersandman{
        position: relative;
        color: #003d20;
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
        text-align: center;
        padding-left: 60px;
        i{
            @include sized-sprite($icons, userico);
            position: absolute;
            top: -10px;
            left: -7px;
            content: "";
        }
        &:after{
            position: absolute;
            @include sized-sprite($icons, entersandman);
            bottom: -20px;
            left: 0;
            content: "";
        }
    }

    .exitlight__socials{
        margin-top: 35px;
        li{
            display: inline-block;
            a{
                opacity: .7;
                &:hover{
                    opacity: 1;
                }
            }
        }
        .clvk{
            @include sized-sprite($icons, clvk);
            display: inline-block;
        }
        .clod{
            @include sized-sprite($icons, clod);
            display: inline-block;
        }
        .clfb{
            @include sized-sprite($icons, clfb);
            display: inline-block;
        }
    }

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}
.popup{
    z-index: 1001;
}
.popup_medal{
    width: 496px;
    margin-left: -285px;
    padding: 30px 50px 20px;
}
.popup_boutique{
    width: 416px;
    margin-left: -245px;
}
    .popup__left{
        float: left;
        width: 125px;
    }
    .popup__right{
        float: right;
        width: 310px;
    }
        .popup__medal{
            text-align: center;
            font-size: 14px;
            font-style: italic;
            font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
        }
        .popup__medal_right{
        }

            .popup__socials{
                margin-top: 10px;
                li{
                    display: inline-block;
                    vertical-align: top;
                    @extend %hide-text;
                }
            }
            .popup__icons{
                display: inline-block;
            }
                .popup__od{@include sized-sprite($icons, p_od);}
                .popup__fb{@include sized-sprite($icons, p_fb);}
                .popup__vk{@include sized-sprite($icons, p_vk);}


    .popup__text{
        margin-bottom: 25px;
        position: relative;
        .h1{
            @include r;
            font-size: 24px;
        }
        p{
            font-size: 18px;
            font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
        }
    }
        .popup__medaltitle{
            margin-bottom: 25px;
        }
.popup__btn{

}
    .popup__btn_yellow{
        @include border-radius(5px);
        @include background-clip(padding-box);
        background-color: #ffe903;
        @include box-shadow(0 2px 4px rgba(3,94,48,.43), inset 0 0 2px rgba(255,255,255,.51));
        height: 32px;
        line-height: 32px;
        display: inline-block;
        vertical-align: middle;
        padding: 0 20px;
        text-transform: uppercase;
        font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
        font-weight: bold;
        font-size: 12px;
        color: #025f32;
        text-decoration: none;
    }

.popup__bodoimg{
    text-align: center;
    margin-bottom: 20px;
}
.popup_bodoinfo{
    overflow: hidden;
}
.popup_bodosite{
    float: left;
    width: 40%;
    a{
        font-size: 18px;
        color: #d5f390;
    }
}
.popup_bodotel{
    font-size: 24px;
    @include r;
    float: left;
    width: 55%;
    text-align: right;
}